<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.trainer.mapper.CareerMapper">
    <resultMap id="CareerResultMap" type="com.mypet.mungmoong.trainer.dto.Career">
        <id property="no" column="no"/>
        <result property="userId" column="user_id"/>
        <result property="trainerNo" column="trainer_no"/>
        <result property="name" column="name"/>
        <result property="regDate" column="reg_date"/>
        <result property="updDate" column="upd_date"/>
        <collection property="files" column="no" select="com.mypet.mungmoong.trainer.mapper.FileMapper.selectFilesByCareerId"/>
    </resultMap>

    
    <select id="select" resultType="com.mypet.mungmoong.trainer.dto.Career">
        SELECT * FROM career WHERE user_id = #{userId}
    </select>

    <select id="selectByTrainerNo" resultType="com.mypet.mungmoong.trainer.dto.Career">
        SELECT * FROM career WHERE trainer_no = #{trainerNo}
    </select>

    <insert id="insert" parameterType="com.mypet.mungmoong.trainer.dto.Career">
        INSERT INTO career (user_id, trainer_no, name, reg_date, upd_date)
        VALUES (#{userId}, #{trainerNo}, #{name}, now(), now())
    </insert>

    <update id="update" parameterType="com.mypet.mungmoong.trainer.dto.Career">
        UPDATE career
           SET name = #{name}, reg_date = now(), upd_date = now()
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE FROM career WHERE no = #{no}
    </delete>
</mapper>
