<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<!-- 밑의 베이스 패키지 경로가 잘 맞는지 확인하기 -->
<mapper namespace="com.mypet.mungmoong.trainer.mapper.CertificateMapper">

    <!-- 자격증 조회 -->
    <select id="select" resultType="Trainer">
        SELECT *
        FROM certificate
        WHERE user_id = #{userId}
    </select>

    <!-- 자격증 등록 -->
    <insert id="insert">
        INSERT INTO certificate (user_id, name, reg_date, upd_date) 
        VALUES ( #{userId}, #{name}, now(), now() )
    </insert>

    <!-- 자격증 수정 -->
    <update id="update">
        UPDATE certificate
           SET title = #{title}
              ,writer = #{writer}
              ,content = #{content}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 자격증삭제 -->
    <delete id="delete">
        DELETE FROM certificate
        WHERE no = #{no}
    </delete>

</mapper>