<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.trainer.mapper.FileMapper">
    <resultMap id="FilesResultMap" type="com.mypet.mungmoong.trainer.dto.Files">
        <id property="no" column="no"/>
        <result property="parentTable" column="parent_table"/>
        <result property="parentNo" column="parent_no"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="regDate" column="reg_date"/>
        <result property="updDate" column="upd_date"/>
        <result property="fileCode" column="file_code"/>
    </resultMap>

    <select id="selectFilesByCareerId" resultMap="FilesResultMap">
        SELECT * FROM files WHERE parent_table = 'career' AND parent_no = #{no}
    </select>

    <select id="selectFilesByCertificateId" resultMap="FilesResultMap">
        SELECT * FROM files WHERE parent_table = 'certificate' AND parent_no = #{no}
    </select>

    <select id="selectFilesByTrainerId" resultMap="FilesResultMap">
        SELECT * FROM files WHERE parent_table = 'trainer' AND parent_no = #{no}
    </select>

    <insert id="insert">
        INSERT INTO img_file(parent_table, parent_no, file_name, file_path, file_size, file_code)
        VALUES (#{parentTable}, #{parentNo}, #{fileName}, #{filePath}, #{fileSize}, #{fileCode})
    </insert>

    <update id="update">
        UPDATE img_file
           SET parent_table = #{parentTable}, parent_no = #{parentNo}, file_name = #{fileName},
               file_path = #{filePath}, file_size = #{fileSize}, file_code = #{fileCode}
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE FROM img_file WHERE no = #{no}
    </delete>

    <delete id="deleteByParent">
        DELETE FROM img_file WHERE parent_table = #{parentTable} AND parent_no = #{parentNo}
    </delete>
</mapper>
