<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.mypet.mungmoong.trainer.mapper.ReplyMapper">
 
      <!-- 댓글 목록 -->
      <select id="list" resultType="Reply">
        SELECT *
        FROM reply
      </select>

      <!-- 🍣댓글 목록 [글번호] -->
      <select id="listByBoardNo" resultType="Reply">
        SELECT *
        FROM Reply
        WHERE board_no = #{boardNo}
        ORDER BY parent_no DESC
                ,reg_date ASC
      </select>

      <!-- 댓글 조회 -->
        <select id="select" resultType="Reply">
                SELECT *
                FROM reply
                WHERE no = #{no}
      </select>

      <!-- 댓글 등록 -->
    <insert id="insert" >
            INSERT INTO reply (board_no, parent_no, writer, content)
            VALUES (#{boardNo}, #{parentNo}, #{writer}, #{content} )
      </insert>

      <!-- 댓글 수정  : parentNo 수정 x -->
      <!-- 댓글 등록  : no -> parentNo 수정 O-->
      <!-- 답글 등록  : parentNo -->
      <update id="update">
          UPDATE reply
                SET writer = #{writer}
                   ,content = #{content}
                <if test="parentNo != 0">
                   ,parent_no = #{parentNo}
                </if>
                ,upd_date = now()
          WHERE no = #{no}
      </update>
      
      <!-- 댓글 삭제 -->
    <delete id="delete">
        DELETE FROM reply
        WHERE no = #{no}
    </delete>

    <!-- 🧀 댓글 종속 삭제-->
    <delete id="deleteByBoardNo">
      DELETE FROM reply
        WHERE board_no = #{boardNo}
     </delete>

     <!-- 댓글 번호 최대값 -->
     <!-- LAST_INSERT_ID() : AI 로 증가한 가장 마지막 번호-->
     <select id="max" resultType="int">
        SELECT MAX(no)
        FROM reply
     </select>


     <!-- 💛답글 종속 삭제 -->
     <delete id="deleteByParentNo">
        DELETE FROM reply
        WHERE parent_no = #{parentNo}
     </delete>
</mapper>