<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.trainer.mapper.ScheduleMapper">

    <!-- 날짜 조회 -->
    <select id="select" resultType="com.mypet.mungmoong.trainer.dto.Schedule">
        SELECT * FROM schedule WHERE trainer_no = #{trainerNo}
    </select>

    <!-- 날짜 추가 -->
    <insert id="insert" parameterType="Schedule">
        INSERT INTO schedule (trainer_no, user_id, title, schedule_date, reg_date, upd_date)
        VALUES (#{trainerNo}, #{userId}, #{title}, #{scheduleDate}, now(), now())
    </insert>

    <!-- <update id="update">
        UPDATE schedule
           SET date = #{date}, upd_date = now()
        WHERE no = #{no}
    </update> -->

    <!-- 날짜 제거 -->
    <delete id="delete">
        DELETE FROM schedule 
        WHERE trainer_no = #{trainerNo} AND schedule_date = #{scheduleDate}
    </delete>

    <delete id="deleteByNo">
        DELETE FROM schedule 
        WHERE no = #{no}
    </delete>
    
</mapper>
