<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<!-- 밑의 베이스 패키지 경로가 잘 맞는지 확인하기 -->
<mapper namespace="com.mypet.mungmoong.trainer.mapper.TrainerMapper">

    <!-- 게시글 조회 -->
    <!-- LEFT OUTER JOIN user_auth auth ON t.user_id = auth.user_id -->
    <select id="select" resultType="Trainer">
        SELECT *
        FROM trainer
        WHERE user_id = #{userId}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO trainer( title, writer, content)
        VALUES ( #{title}, #{writer}, #{content} )
    </insert>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE trainer
           SET title = #{title}
              ,writer = #{writer}
              ,content = #{content}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM trainer
        WHERE no = #{no}
    </delete>

    <!-- 게시글 번호 최댓값 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(no)
        FROM trainer
    </select>

    <!-- 데이터 개수 조회 - [검색] -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM trainer
        WHERE 
            <!-- <if test="option.code == 0">
                  title LIKE CONCAT('%', #{option.keyword}, '%')
               OR writer LIKE CONCAT('%', #{option.keyword}, '%') 
               OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 3">
                  title LIKE CONCAT('%', #{option.keyword}, '%')
               OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 4">
               writer LIKE CONCAT('%', #{option.keyword}, '%') 
            </if> -->
        ORDER BY reg_date DESC
    </select>

    <!-- 게시글 목록 - [검색] -->
    <select id="search" resultType="trainer">
        SELECT *
        FROM trainer
        WHERE 
            <!-- <if test="option.code == 0">
                  title LIKE CONCAT('%', #{option.keyword}, '%')
               OR writer LIKE CONCAT('%', #{option.keyword}, '%') 
               OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 3">
                  title LIKE CONCAT('%', #{option.keyword}, '%')
               OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 4">
               writer LIKE CONCAT('%', #{option.keyword}, '%') 
            </if> -->
        ORDER BY reg_date DESC
    </select>

    <!-- 조회 수 증가 -->
    <update id="view">
        UPDATE trainer
           SET views = views + 1
        WHERE no = #{no}
    </update>

</mapper>