<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>관리자 페이지</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_info">회원관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_trainer">훈련사 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/admin/admin_reserve">예약관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_board">공지사항 관리</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="/admin/admin_reserve">예약내역</a></li>
                    <li><a href="/admin/admin_reserve_pay">지급관리</a></li>
                </ul>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">예약번호</th>
                        <th scope="col">회원ID</th>
                        <th scope="col">요청사항</th>
                        <th scope="col">훈련사 승인 상태</th>
                        <th scope="col">예약제목</th>
                        <th scope="col">총예약일</th>
                        <th scope="col">총항목수</th>
                        <th scope="col">총가격</th>
                        <th scope="col">승인상태</th>
                        <th scope="col">등록일자</th>
                        <th scope="col">수정일자</th>
                    </tr>
                </thead>
                <th:block th:each="reserve : ${reserveList}">
                    <tr class="first_tr">
                        <td th:text="${reserve.no}"></td>
                        <td class="text-truncate" th:text="${reserve.userId}"></td>
                        <td class="text-truncate" th:text="${reserve.request}"></td>
                        <td class="text-truncate" th:text="${reserve.condition}"></td>
                        <td class="text-truncate" th:text="${reserve.title}"></td>
                        <td class="text-truncate" th:text="${reserve.totalQuantity}"></td>
                        <td class="text-truncate" th:text="${reserve.totalCount}"></td>
                        <td class="text-truncate" th:text="${reserve.totalPrice}"></td>
                        <td class="text-truncate" th:text="${reserve.status}"></td>
                        <td class="text-truncate" th:text="${reserve.regDate}"></td>
                        <td class="text-truncate" th:text="${reserve.updDate}"></td>
                    </tr>
                </th:block>
            </table>
            <!-- 페이징 버튼 영역 -->
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>