<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 상품 등록</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>관리자 상품 정보 등록</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_info">회원관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_trainer">훈련사 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_reserve">예약관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_board">공지사항 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/admin/admin_product">상품정보 등록</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <form action="admin/delete" method="post">
                <div>
                    <ul>
                        <label for="">번호</label>
                        <input type="text" value="No">
                        <label for="">상품명</label>
                        <input type="text" value="Ptitle">
                        <label for="">훈련사 정보</label>
                        <input type="text" value="TrainerNo">
                        <label for="">훈련비</label>
                        <input type="text" value="price">

                    </ul>
                </div>
            </form>

        </div>
    </div>
    
</body>
</html>