<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>관리자 페이지</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_info">회원관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_trainer">훈련사 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/admin/admin_reserve">예약관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_board">공지사항 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_product">상품정보 등록</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="/admin/admin_reserve">예약내역</a></li>
                    <li><a href="/admin/admin_reserve_pay">지급관리</a></li>
                </ul>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">상품 아이디</th>
                        <th scope="col">회원 아이디</th>
                        <th scope="col">펫번호</th>
                        <th scope="col">트레이너 번호</th>
                        <th scope="col">주소</th>
                        <th scope="col">예약일</th>
                        <th scope="col">등록일</th>
                    </tr>
                </thead>
                <th:block th:each="orders : ${ordersList}">
                    <tr class="first_tr">
                        <td class="text-truncate" th:text="${orders.no}"></td>
                        <td class="text-truncate" th:text="${orders.productId}"></td>
                        <td class="text-truncate" th:text="${orders.userId}"></td>
                        <td class="text-truncate" th:text="${orders.petNo}"></td>
                        <td class="text-truncate" th:text="${orders.trainerNo}"></td>
                        <td class="text-truncate" th:text="${orders.address}"></td>
                        <td class="text-truncate" th:text="${#dates.format(orders.resDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="text-truncate" th:text="${#dates.format(orders.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </th:block>
            </table>
            <!-- 페이징 버튼 영역 -->
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>