<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공펫</title>
</head>

<body layout:fragment="content">
    <div class="container-fluid container">
        <div class="inner">
            <h1>공펫</h1>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="#">회원정보</a></li>
                    <li><a href="#">반려견</a></li>
                </ul>
            </div>
            <form class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/admin/admin_pet.png" class="img-fluid" alt="반려견 이미지">
                    </div>
                    <div class="col-md-8 fmCont">
                        <ul>
                            <li>
                                <label for="petName" name="petName">이름</label>
                                <input type="text" name="petName" id="petName" value="petName">
                            </li>
                            <li>
                                <label for="petGender" name="petGender">성별</label>
                                <input type="text" name="petGender" id="petGender" value="petGender">
                            </li>
                            <li>
                                <label for="petBirth" name="petBirth">생년월일</label>
                                <input type="text" name="petBirth" id="petBirth" value="petBirth">
                            </li>
                            <li>
                                <label for="petChar" name="petChar">성격</label>
                                <input type="text" name="petChar" id="petChar" value="petChar">
                            </li>
                            <li>
                                <label for="petAge" name="petAge">나이</label>
                                <input type="text" name="petAge" id="petAge" value="petAge">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
            <!-- 하단 버튼 영역 -->
            <div class="bottom-btn">
                <button type="button" class="btn btn-primary btn-lg listBtn">목록</button>
                <button type="button" class="btn btn-secondary btn-lg updateBtn">수정</button>
            </div>
        </div>
    </div>
</body>

</html>