<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공펫</title>
</head>

<body layout:fragment="content">
    <div class="container-fluid container">
        <div class="inner">
            <h1>반려견정보 : mypet</h1>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="/admin/admin_info_read">회원정보</a></li>
                    <li><a href="/admin/admin_info_read_pet">반려견</a></li>
                </ul>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">ID</th>
                        <th scope="col" style="width: 10%;">등록일자</th>
                        <th scope="col" style="width: 10%;">수정일자</th>
                    </tr>
                </thead>
                <th:block th:each="pet : ${petList}">
                    <tr>
                        <td><a th:href="|/admin/admin_info_read_pet?userId=${pet.petNo}|" th:text="${pet.userId}"></a>
                        </td>
                        <td class="text-truncate" th:text="${#dates.format(pet.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="text-truncate" th:text="${#dates.format(pet.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</body>

</html>