<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공유</title>
    <style>

        
    </style>
</head>

<body layout:fragment="content">
    <div class="container-fluid">
        <div class="inner">
            <h1>공유</h1>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="#">회원정보</a></li>
                    <li><a href="#">반려견</a></li>
                </ul>
            </div>
            <form class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/admin/admin_pet.png" class="img-fluid" alt="훈련사 이미지">
                    </div>
                    <div class="col-md-8 fmCont">
                        <ul>
                            <li>
                                <label for="id" name="id">ID</label>
                                <input type="text" name="id" id="id" value="joeun">
                            </li>
                            <li>
                                <label for="pw" name="pw">비밀번호</label>
                                <input type="password" name="pw" id="pw" value="123456">
                            </li>
                            <li>
                                <label for="name" name="name">이름</label>
                                <input type="text" name="name" id="name" value="김조은">
                            </li>
                            <li>
                                <label for="nickName" name="nickName">닉네임</label>
                                <input type="text" name="Nickname" id="nickName" value="닉값">
                            </li>
                            <li>
                                <label for="birth" name="birth">생년월일</label>
                                <input type="text" name="birth" id="birth" value="2024-05-16">
                            </li>
                            <li>
                                <label for="gender" name="gender">성별</label>
                                <input type="text" name="gender" id="gender" value="남자">
                            </li>
                            <li>
                                <label for="email" name="email">메일</label>
                                <input type="text" name="email" id="email" value="joeun@joeun.com">
                            </li>
                            <li>
                                <label for="phoneNumber" name="phoneNumber">전화번호</label>
                                <input type="text" name="phoneNumber" id="phoneNumber" value="010-0000-0000">
                            </li>
                            <li>
                                <label for="experience" name="experience">경력</label>
                                <input type="text" name="experience" id="experience" value="자격증, 이전 회사 경력">
                            </li>
                            <li class="txtarea">
                                <label for="selfIntroduction" name="selfIntroduction">자기소개</label>
                                <textarea name="selfIntroduction" id="selfIntroduction"
                                    rows="4">자격증, 이전 회사 경력</textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
            <!-- 하단 버튼 영역 -->
            <div class="bottom-btn">
                <button type="button" class="btn btn-primary btn-lg listBtn">목록</button>
                <button type="button" class="btn btn-secondary btn-lg updateBtn">수정</button>
            </div>
        </div>
    </div>
</body>

</html>