<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>훈련</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>관리자 페이지</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_info">회원관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_trainer">훈련사 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_reserve">예약관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_board">공지사항 관리</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">no</th>
                        <th scope="col" style="width: 10%;">ID</th>
                        <th scope="col" style="width: 10%;">비밀번호</th>
                        <th scope="col" style="width: 10%;">이름</th>
                        <th scope="col" style="width: 10%;">닉네임</th>
                        <th scope="col" style="width: 10%;">전화번호</th>
                        <th scope="col" style="width: 10%;">금액</th>
                        <th scope="col" style="width: 10%;">진행여부</th>
                        <th scope="col" style="width: 15%;">훈련가능 견종</th>
                        <th scope="col" style="width: 10%;">승인여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>joeun</td>
                        <td class="text-truncate">123456</td>
                        <td class="text-truncate">김조은</td>
                        <td class="text-truncate">조은데이</td>
                        <td class="text-truncate">01011112222</td>
                        <td class="text-truncate">$120,000</td>
                        <td class="text-truncate">대기</td>
                        <td class="text-truncate">소형견</td>
                        <td class="text-truncate">
                            <div class="sm-bottom-btn">
                                <button type="button"
                                    class="btn btn-primary btn-lg listBtn smBtn-list smBtn">목록</button>
                                <button type="button"
                                    class="btn btn-secondary btn-lg updateBtn smBtn-update smBtn">수정</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>joeun</td>
                        <td class="text-truncate">123456</td>
                        <td class="text-truncate">김조은</td>
                        <td class="text-truncate">조은데이</td>
                        <td class="text-truncate">01011112222</td>
                        <td class="text-truncate">$120,000</td>
                        <td class="text-truncate">대기</td>
                        <td class="text-truncate">소형견</td>
                        <td class="text-truncate">
                            <div class="sm-bottom-btn">
                                <button type="button"
                                    class="btn btn-primary btn-lg listBtn smBtn-list smBtn">목록</button>
                                <button type="button"
                                    class="btn btn-secondary btn-lg updateBtn smBtn-update smBtn">수정</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 페이징 버튼 영역 -->
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
            <!-- 하단 버튼 영역 -->
            <div class="bottom-btn">
                <button type="button" class="btn btn-primary btn-lg listBtn">목록</button>
                <button type="button" class="btn btn-secondary btn-lg updateBtn">수정</button>
            </div>
        </div>
    </div>
</body>

</html>