<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정상</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>회원정보</h1>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="/admin/admin_info_read_user">회원정보</a></li>
                    <li><a href="/admin/admin_info_read_pet">반려견</a></li>
                </ul>
            </div>
            <form class="form-group">
                <div class="col-md-8 fmCont">
                    <ul>
                        <li>
                            <label for="id" name="id">ID</label>
                            <input type="text" name="id" id="id" value="joeun">
                        </li>
                        <li>
                            <label for="pw" name="pw">비밀번호</label>
                            <input type="password" name="pw" id="pw" value="123456">
                        </li>
                        <li>
                            <label for="name" name="name">이름</label>
                            <input type="text" name="name" id="name" value="김조은">
                        </li>
                        <li>
                            <label for="nickName" name="nickName">닉네임</label>
                            <input type="text" name="Nickname" id="nickName" value="닉값">
                        </li>
                        <li>
                            <label for="birth" name="birth">생년월일</label>
                            <input type="text" name="birth" id="birth" value="2024-05-16">
                        </li>
                        <li>
                            <label for="gender" name="gender">성별</label>
                            <input type="text" name="gender" id="gender" value="남자">
                        </li>
                        <li>
                            <label for="email" name="email">메일</label>
                            <input type="text" name="email" id="email" value="joeun@joeun.com">
                        </li>
                        <li>
                            <label for="phoneNumber" name="phoneNumber">전화번호</label>
                            <input type="text" name="phoneNumber" id="phoneNumber" value="010-0000-0000">
                        </li>
                    </ul>
                </div>
            </form>
            <!-- 하단 버튼 영역 -->
            <div class="bottom-btn">
                <button type="button" class="btn btn-primary btn-lg listBtn">목록</button>
                <button type="button" class="btn btn-secondary btn-lg updateBtn">수정</button>
            </div>
        </div>
    </div>
</body>

</html>