<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>관리자 페이지</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_info">회원관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_trainer">훈련사 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_reserve">예약관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/admin/admin_board_notice">공지사항 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/admin/admin_product">상품정보 등록</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab_tr_btn">
                <ul>
                    <li><a href="/admin/admin_board">공지사항 관리</a></li>
                    <li><a href="/admin/admin_board_notice">문의게시판 관리</a></li>
                </ul>
            </div>
            <!-- 페이지네이션 -->
            <div>
                <!-- [첫] -->
                <a
                    th:href="| /admin/admin_board?page=${page.first}&code=${option.code}&keyword=${option.keyword} |">&laquo;</a>
                <!-- 
                #numbers.sequence(시작번호, 끝번호)
                : 시작번호 부터 끝번호까지 번호 리스트를 생성
            -->
                <!-- [ 이전 ] -->
                <!-- <th:block th:if="${page.page > 1}"> -->
                <th:block th:if="${page.page != page.first}">
                    <a
                        th:href="| /admin/admin_board?page=${page.prev}&code=${option.code}&keyword=${option.keyword} |">&lt;</a>
                </th:block>
                <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
                    <!-- 현재 페이지 -->
                    <th:block th:if="${page.page == no}">

                        <b>
                            <span th:text="${no}"></span>
                        </b>
                    </th:block>
                    <th:block th:if="${page.page != no}">
                        <a th:href="| /admin/admin_board?page=${no}&code=${option.code}&keyword=${option.keyword} |"
                            th:text="${no}"></a>
                    </th:block>
                </th:block>
                <!-- [ 다음 ] -->
                <th:block th:if="${page.page != page.last}">
                    <a
                        th:href="| /admin/admin_board?page=${page.next}&code=${option.code}&keyword=${option.keyword} |">&gt;</a>
                </th:block>
                <!-- 마지막 -->
                <a
                    th:href="| /admin/admin_board?page=${page.last}&code=${option.code}&keyword=${option.keyword} |">&raquo;</a>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">ID</th>
                        <th scope="col" style="width: 10%;">제목</th>
                        <th scope="col">내용</th>
                        <th scope="col" style="width: 10%;">등록일자</th>
                        <th scope="col" style="width: 10%;">수정일자</th>
                        <th scope="col" style="width: 10%;">삭제</th>
                    </tr>
                </thead>
                <th:block th:each="board : ${boardList}">
                    <tr>
                        <td class="text-truncate" th:text="${board.userId}"></td>
                        <td class="text-truncate"><a th:href="|/admin/admin_board_read?no=${board.no}|"
                                th:text="${board.title}"></a></td>
                        <td class="text-truncate" th:text="${board.content}"></td>
                        <td class="text-truncate" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="text-truncate" th:text="${#dates.format(board.updDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="text-truncate">
                            <form action="/admin/ListBoardDelete" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="no" th:value="${board.no}" />
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>

            <!-- 페이징 버튼 영역 -->
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>