<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공유</title>
    <style>


    </style>
</head>

<body layout:fragment="content">
    <div class="container-fluid">
        <div class="inner">
            <h1>공유</h1>
            <form class="form-group" action="/admin/admin_trainer_read" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/admin/admin_pet.png" class="img-fluid" alt="훈련사 이미지">
                </div>
                    <div class="col-md-8 fmCont">
                        <ul>
                            <li>
                                <label for="no" name="no">no</label>
                                <input type="text" name="no" id="no" th:value="${trainer.no}">
                            </li>
                            <li>
                                <label for="userId" name="userId">userId</label>
                                <input type="text" name="userId" id="userId" th:value="${trainer.userId}">
                            </li>
                            <li>
                                <label for="name" name="name">이름</label>
                                <input type="text" name="name" id="name" th:value="${trainer.name}">
                            </li>
                            <!-- <li>
                                <label for="birth" name="birth">생년월일</label>
                                <input type="text" name="birth" id="birth" th:value="${trainer.birth}">
                            </li> -->
                            <!-- <li>
                                <label for="gender" name="gender">성별</label>
                                <input type="text" name="gender" id="gender" th:value="${}">
                            </li> -->
                            <!-- <li>
                                <label for="email" name="email">메일</label>
                                <input type="text" name="email" id="email" th:value="${}">
                            </li> -->
                            <!-- <li>
                                <label for="phoneNumber" name="phoneNumber">전화번호</label>
                                <input type="text" name="phoneNumber" id="phoneNumber" th:value="${}">
                            </li> -->
                            <!-- <li>
                                <label for="experience" name="experience">경력</label>
                                <input type="text" name="experience" id="experience" th:value="${}">
                            </li> -->
                        </ul>
                    </div>
            </div>
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
        </form>
        <!-- 하단 버튼 영역 -->
        <div class="bottom-btn">
            <button type="button" class="btn btn-primary btn-lg listBtn" onclick="moveToList()">목록</button>
        </div>
        </div>
    </div>

    <script>
        function moveToList() {
            location.href = '/admin/admin_trainer'
        }
    </script>

</body>

</html>