<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 > 카테고리 > 수정하기</title>
</head>
<body layout:fragment="content">

  
  <div class="container">
    <div class="my-5">
      <h1>카테고리 > 수정하기</h1>

      <form action="/admin/categories/update" method="post" th:object="${category}">
        <!-- CSRF TOKEN -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="id" th:field="*{id}">

        <div class="inner py-5">
          <div class="mb-3">
            <label for="code" class="form-label">코드</label>
            <input type="text" class="form-control" id="code" th:field="*{code}"  />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">카테고리</label>
            <input type="text" class="form-control" id="name" th:field="*{name}"  />
          </div>
          <div class="mb-3">
            <label for="seq" class="form-label">순서</label>
            <input type="text" class="form-control" id="seq" th:field="*{seq}"  />
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" >수정하기</button>
        </div>
      </form>

    </div>
  </div>
</body>
</html>