<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.mypet.mungmoong.reserve.mapper.ReserveMapper">
    
    <!-- 예약 목록 -->
    <select id="list" resultType="Reserve">
        SELECT *
        FROM reserve
        ORDER BY reg_date DESC
    </select>

    <!-- 예약 조회 -->
    <select id="select" resultType="Reserve">
        SELECT *
        FROM reserve
        WHERE order_no = #{orderNo}
    </select>

    <!-- 예약 등록 -->
    <insert id="insert">
        INSERT INTO reserve(user_id, trainer_no, pet_no, date, order_no, request, reg_date)
        VALUES (#{userId}, #{trainerNo}, {petNo}, #{date}, #{orderNo}, #{request}, now() )
    </insert>

    <!-- 예약 수정 -->
    <update id="update">
        UPDATE reserve
           SET no = #{no}
              ,user_id = #{userId}
              ,date = #{date}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 예약 삭제 -->
    <delete id="delete">
        DELETE FROM reserve
        WHERE date = #{date}
    </delete>

    <!-- 예약 번호 최댓값 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(no)
        FROM reserve
    </select>


    <!-- 관리자 사용자별 총 예약 금액 조회 -->
    <select id="listByUser" resultType="Reserve">
        SELECT user_id, SUM(total_price) AS total_price
        FROM reserve
        GROUP BY user_id
        ORDER BY user_id
    </select>
</mapper>