body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 5px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    padding-bottom: 10px;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #f8f8f8;
}

.pagination {
    margin: 20px 0;
}

.pagination .page-item .page-link {
    border-radius: 0 !important;
}

.text-center p {
    font-size: 14px;
    color: #888;
}

nav.text-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-center button {
    margin: 0 10px;
}

textarea.form-control {
    resize: none;
}



/* 컨테이너 리스트 영역 시작 */

.text-truncate {
    max-width: 150px;      /* Set the maximum width for the cell (adjust as needed) */
}

table {
    width: 100%;
    margin: 30px 0 !important;
}

.tab-button:focus {
    background-color: #F6C542;
    color: white
}

.tab-button {
    font-size: 0.9em;
    padding: 0.5em 0.75em;
    background-color: #FFE0B2;
    color: #DAA414;
    border-radius: 25px;
    width: 120px;
    text-align: center;
}

.bottom-btn {
    text-align: right;
}

.listBtn:hover {
    background-color: #F6C542 !important;
    border: 3px solid #F6C542 !important;
    color: white !important;
    font-size: 16px !important;
}

.listBtn {
    width: 80px !important;
    background-color: white !important;
    border: 3px solid #F6C542 !important;
    border-radius: 30px !important;
    color: #F6C542 !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.updateBtn:hover {
    background-color: #A19F9D !important;
    border: 3px solid #A19F9D !important;
    color: white !important;
    font-size: 16px !important;
}

.updateBtn {
    width: 80px !important;
    background-color: white !important;
    border: 3px solid #A19F9D !important;
    border-radius: 30px !important;
    color: #A19F9D !important;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-left: 10px !important;
}

.deleteBtn:hover {
    background-color: #A19F9D !important;
    border: 3px solid #A19F9D !important;
    color: white !important;
    font-size: 16px !important;
}

.deleteBtn {
    width: 80px !important;
    background-color: white !important;
    border: 3px solid #A19F9D !important;
    border-radius: 30px !important;
    color: #A19F9D !important;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-left: 10px !important;
}

table tbody tr td:last-child {
    text-align: left;
}

/* 컨테이너 리스트 영역 끝 */