@font-face {
  font-family: 'SKYBORI';
  src: url('/static/fonts/SKYBORI.ttf') format('truetype'),
       url('/static/fonts/SKYBORI.otf') format('opentype');
}
a {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
}

.container {
  padding: 6rem 0;
}

* {
  font-family: 'SKYBORI', sans-serif, 'Jua';
} 

.tab-button {
  font-size: 1rem;
  width: 110px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  background-color: #FFE0B2;
  color: #DAA414;
  border-radius: 25px; 
  text-align: center;
}

.tab-button:hover {
  background-color: #F6C542 !important;
  color: snow !important;
}

.tab-button:focus {
  background-color: #F6C542 !important;
  color: snow !important;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
}





/* 헤더 영역 */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8 ;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.container {
  margin: 4% 0;
}
.form-control {
  border: 0px solid #ced4da;
}
.auth {
  display: none;
  align-items: center;
}
.auth button {
  margin-left: 10px;
  border: 2px solid #6c757d;
  color: #6c757d;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.auth button:hover {
  background-color: #6c757d;
  color: white;
}



nav {
  display: flex;
  flex-direction: row;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  background-color: #f8f8f8;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-block;
  font-size: 20px;
}
nav a:hover {
  background-color: #F6C542;
  color:white
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s;
}
.hamburger:hover div {
  background-color: #0073e6;
}
.button_area{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 23%;
}

@media (max-width: 768px) {
  header {
      /* flex-direction: column;
      align-items: flex-start; 재희수정중 20240523 */
  }
  nav {
    display: none;
      flex-direction: column;
      width: 100%;
  }
  nav a {
      margin: 10px 0;
  }
  .auth {
    background: #fff;
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    top: 70px;
    left: 0;
    /* width: 100%; */
    z-index: 1000;
      /* display: none; */
      /* flex-direction: column;
      width: 100%; */
  }
  .auth > a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    font-size: 1.2rem;
  }
  .auth > a:hover{
    text-decoration: none;
    background-color: #fff4d5;
    color: #333;
    font-weight: bold;
  }
  .auth button {
      margin: 10px 0;
  }
  .hamburger {
      display: flex;
  }
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #005bb5;
}


/* 리뷰 컨테이너 */
.review-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1100px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review-box:nth-child(even) {
  background-color: #e6f5ff;
}
.review-box:nth-child(odd) {
  background-color: #fff5e6;
}
.review-box p {
  margin: 0;
  color: #333;
}
@media (max-width: 1024px) {
  .review-container {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .review-container {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .review-container {
      grid-template-columns: 1fr;
  }
}

/* 푸터 영역 */
.footer {
  background-color: #b0d4e3;
  padding: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 푸터 영역 */

