.navbar {
    margin-bottom: 20px;
}

.nav-link:hover {
    background-color: #FFE0B2;
    color: #DAA414;
}
.table th, .table td {
    vertical-align: middle;
}
.table img {
    max-width: 100px;
    height: auto;
}

.first_tr th {
    background-color: #FFF7E5;
}

.title {
    color: black;
}

.info{
    margin-top: 3rem;
}

.btn-custom1 {
    font-size: 1rem;
    width: 110px;
    height: 44px;
    font-weight: bold;
    padding: 0.5em 0.75em;
    background-color: #FFE0B2;
    color: #DAA414;
    border-radius: 25px; 
    text-align: center;
}

.btn-custom1:hover{
    font-size: 1rem;
    padding: 0.5em 0.75em;
    width: 110px;
    background-color: #F6C542;
    color: white;
}

.btn-custom2{
    width: 80px;
    background-color: white;
    border: 3px solid #A19F9D;
    border-radius: 30px;
    color: #A19F9D;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.btn-custom2:hover{
    background-color: #A19F9D;
    color: white;
    font-size: 16px;
}

.btn-custom3{
    width: 80px;
    background-color: white;
    border: 3px solid #F6C542;
    border-radius: 30px;
    color: #F6C542;
    font-weight: bold;
    font-size: 16px;

}

.btn-custom3:hover{
    background-color: #F6C542;
    color: white;
    font-size: 16px;
}

.button_sta {
    background-color: white;
    border: 3px solid #F6C542;
    color: #F6C542;
    font-weight: bold;
    border-radius: 30px;
}

.button_sta:hover {
    background-color: lightblue;
    color: white;
}

.button_sta:focus-within {
    background-color: lightblue;
    border: 3px solid lightblue;
    color: white;
}

.text-left-content td {
    text-align: left;
}

#tdtd {
    position: relative;
}

#button_1 {
    position:absolute; 
    right: 1rem;
}


.body {
    background-color: #FFF7E5;
}


.inner {
    background-color: #FFF;
    width: 1000px;
    padding: 4rem 4rem;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
}

.navbar-collapse {
    margin-top: 2rem;
}