.navbar {
    margin-bottom: 20px;
}

.nav-link:hover {
    background-color: #FFE0B2;
    color: #DAA414;
}
.table th, .table td {
    vertical-align: middle;
}
.table img {
    max-width: 100px;
    height: auto;
}

.first_tr th {
    background-color: #FFF7E5;
}

.title {
    color: black;
}

.info{
    margin-top: 3rem;
}

.btn-custom1 {
    font-size: 1rem;
    width: 110px;
    height: 44px;
    font-weight: bold;
    padding: 0.5em 0.75em;
    background-color: #FFE0B2;
    color: #DAA414;
    border-radius: 25px; 
    text-align: center;
}

.btn-custom1:hover{
    font-size: 1rem;
    padding: 0.5em 0.75em;
    width: 110px;
    background-color: #F6C542;
    color: white;
}

.btn-custom2{
    width: 80px;
    background-color: white;
    border: 3px solid #A19F9D;
    border-radius: 30px;
    color: #A19F9D;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.btn-custom2:hover{
    background-color: #A19F9D;
    color: white;
    font-size: 16px;
}

.btn-custom3{
    width: 80px;
    background-color: white;
    border: 3px solid #F6C542;
    border-radius: 30px;
    color: #F6C542;
    font-weight: bold;
    font-size: 16px;

}

.btn-custom3:hover{
    background-color: #F6C542;
    color: white;
    font-size: 16px;
}

.btn-custom4{
    width: 110px;
    background-color: white;
    border: 3px solid #A19F9D;
    border-radius: 30px;
    color: #A19F9D;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.btn-custom4:hover{
    background-color: #A19F9D;
    color: white;
    font-size: 16px;
}

.btn-custom5{
    background-color: #B9D6DC;
    color: white;
    font-weight: bold;
    /* float: right; */
}

.btn-custom5:hover{
    background-color: #A19F9D;
    color: white;
}

.button_sta {
    background-color: white;
    border: 3px solid #F6C542;
    color: #F6C542;
    font-weight: bold;
    border-radius: 30px;
}

.button_sta:hover {
    background-color: lightblue;
    color: white;
}

.button_sta.active {
    background-color: #B9D6DC !important;
    color: snow !important;
  }

.text-left-content td {
    text-align: left;
}

.delete-icon {
    position: absolute;
    right: 0;
    color: red; /* 필요에 따라 색상 조정 */
    background-color: transparent; /* 배경색 투명하게 설정 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 안쪽 여백 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.delete-icon:hover {
    background-color: transparent; /* 배경색 투명하게 설정 */
}

#certificateImg{
    position: relative;
}

/* #certificate {
    border: none;
} */

.file {
    margin-bottom: 10px;
}

#button_1 {
    position:absolute; 
    right: 1rem;
}


.body {
    background-color: #FFF7E5;
}


.inner {
    background-color: #FFF;
    width: 1000px;
    padding: 4rem 4rem;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
}

.inner_schedule {
    background-color: #FFF;
    width: 1000px;
    padding: 4rem 4rem;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-collapse {
    margin-top: 2rem;
}

.dog_img {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
}



/* ------------------------------- */

.user_info ul li input {
    border: 1px solid;
    border-color: #FFF7E5;
    background-color: #FFF7E5;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 8px;
}

.user_info ul li input:focus {
    border-color: #F6C542;
    outline: none;
    border-width :1.8px; 
}

.bottom-btn {
    margin-top: 80px;
    text-align: right;
}

.listBtn:hover {
    background-color: #F6C542;
    border: 3px solid #F6C542;
    color: white;
    font-size: 16px;
}

.listBtn {
    width: 80px;
    background-color: white;
    border: 3px solid #F6C542;
    border-radius: 30px;
    color: #F6C542;
    font-weight: bold;
    font-size: 16px;
}

.updateBtn:hover {
    background-color: #A19F9D;
    border: 3px solid #A19F9D;
    color: white;
    font-size: 16px;
}

.updateBtn {
    width: 80px;
    background-color: white;
    border: 3px solid #A19F9D;
    border-radius: 30px;
    color: #A19F9D;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.user_info {
    text-align: center;
}

.user_info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
}

.dog_label {
    width: 70px;
}

li {
    list-style: none;
}

label {
    width: 80px;
    text-align: left;
}

.tab_tr_btn {
    margin-top: 30px;
}

.tab_tr_btn ul li {
    display: inline-block;
}

.tab_tr_btn ul li a:hover {
    background-color: #B9D6DC;
    
    color: white;
}

.tab_tr_btn ul li a {
    text-align: center;
    background-color: #F5F5F5;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px 30px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: black;
}

/* ------------- 풀 캘린더 --------------- */
.fc-daygrid-event {
    cursor: pointer
}



/* ------------- 풀 캘린더 --------------- */








/* ------------------------------- */

.tab_tr_btn {
    margin-top: 30px;
}

.tab_tr_btn ul li {
    display: inline-block;
}

.tab_tr_btn ul li a:hover {
    background-color: #B9D6DC;
    font-weight: bold;
    color: white;
}

.tab_tr_btn ul li a {
    text-align: center;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 30px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: black;
}

/* ---------------- 캘린더 --------------- */

.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.calendar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendar {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25rem;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C542;
    color: white;
    padding: 10px;
    font-size: 1.25em;
}

.calendar .header button {
    background-color: #F6C542;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 1em;
}

.calendar th {
    background-color: #FFF7E5;
}

.calendar td {
    background-color: white;
    transition: background-color 0.3s;
}

.calendar td:hover {
    background-color: #F6C542;
}

.calendar td.clicked {
    background-color: #F6C542;
    color: white;
}

.calendar .holiday {
    color: red;
}

#selected-date {
    margin-top: 20px;
    font-size: 1.5em;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
}

.div_msg {
    text-align: end;
}

.msg {
    margin-right: 15rem;
    margin-top: 0.5rem;
    color: red;
}


/* --------------------- 페이징 버튼 --------------------- */

.paging {
    padding: 20px 0;
}

.paging ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.paging ul li a {
    color: black;
    text-decoration: none;
}

/* --------------------- 훈련사 인증 페이지 --------------------- */
.sub_text {
    color: red;
}















