<th:block th:fragment="link">

    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    

    <!-- bootstrap FILE : static 폴더 아래 경로를 지정 -->
    <!-- <link rel="stylesheet" href="/common/dist/css/bootstrap.min.css">     -->
    <!-- <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">     -->
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">

    

</th:block>