<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/board_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <style>
        .button{
            font-size: 1.1rem;
    width: 110px;
    font-weight: bold;
    padding: 0.4em 2em;
    background-color: #FFE0B2;
    color: #DAA414;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
        }
    </style>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h2>공지사항</h1>
                <form action="/board/list" method="get">
                    <div class="col d-flex justify-content-between">
                     <div class="col-5 d-flex" >
                        <select name="code"class="col-4 flex justify-content-start">
                            <!-- <option th:each="item : ${optionList}" 
                                    th:value="${item.code}" 
                                    th:text="${item.keyword}"
                                    th:selected="${item.code == option.code}"></option>  -->
                            <option value="0" th:selected="${option.code == 0}">전체</option>
                            <option value="1" th:selected="${option.code == 1}">제목</option>
                            <option value="2" th:selected="${option.code == 2}">내용</option>
                            <option value="3" th:selected="${option.code == 3}">제목+내용</option>
                            <option value="4" th:selected="${option.code == 4}">작성자</option>
                        </select>
                        <div class="row-6 d-flex justify-content-last">
                        <input type="text" name="keyword" placeholder="검색어 입력"
                            th:value="${param.keyword}">
                        <input type="submit" value="검색">
                        </div>
                      </div>
                        <a class="button" href="/board/insert">글쓰기</a>
                    </div>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th width="50">번호</th>
                        <th width="300">제목</th>
                        <th width="200">등록일자</th>
                        <th width="200">수정일자</th>
                    </tr>
                    <!-- 
            th:if="조건식" 
            - 타임리프에서 조건에 만족하는 html 만 출력해준다.
        -->
                    <th:block th:if="${boardList.isEmpty()}">
                        <tr>
                            <td colspan="6" align="center">
                                조회된 게시글 정보가 없습니다.
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:each="board : ${boardList}">
                        <tr>
                            <td class="text-truncate" th:text="${board.no}"></td>
                            <td class="text-truncate">
                                <!-- th:???="|문자열+${표현식}|" -->
                                <a th:href="|/board/read?no=${board.no}|" th:text="${board.title}"></a>
                            </td>
                            <!-- <td align="center" th:text="${board.writer}"></td> -->
                            <!-- 
                    유틸리티객체.메소드()
                    #dates.format( 날짜객체명, '날짜포맷' ) 
                    - #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss' )
                -->
                            <td class="text-truncate">
                                <span th:text="${ #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                            </td>
                            <td class="text-truncate">
                                <span th:text="${ #dates.format( board.updDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                            </td>
                            <!-- <td align="center" th:text="${board.views}"></td> -->
                        </tr>
                    </th:block>
                </table>
                  <!-- 페이지네이션 -->
            <nav aria-label="Page navigation example">
              <div class="pagination">
                <!-- [처음] -->
                <a th:href="|/board/list?page=${page.first}&code=${option.code}&keyword=${option.keyword}|">&laquo;</a>
                
                <!-- [ 이전 ] -->
                <th:block th:if="${page.page != page.first}">
                    <a th:href="|/board/list?page=${page.prev}&code=${option.code}&keyword=${option.keyword}|">&lt;</a>
                </th:block>
        
                <!-- [페이지 번호]-->
                <!-- 
                    #numbers.sequence(시작번호, 끝번호)
                    : 시작번호 부터 끝번호까지 번호 리스트를 생성
                 -->
                <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
                    <!-- 현재 페이지 -->
                    <th:block th:if="${page.page == no}">
                        <b>
                            <span th:text="${no}"></span>
                        </b>
                    </th:block>
                    <th:block th:if="${page.page != no}">
                        <a th:href="|/board/list?page=${no}&code=${option.code}&keyword=${option.keyword}|" th:text="${no}"></a>
                    </th:block>
                </th:block>
        
                <!-- [ 다음 ] -->
                <th:block th:if="${page.page != page.last}">
                    <a th:href="|/board/list?page=${page.next}&code=${option.code}&keyword=${option.keyword}|">&gt;</a>
                </th:block>
        
                <!-- [마지막] -->
                <a th:href="|/board/list?page=${page.last}&code=${option.code}&keyword=${option.keyword}|">&raquo;</a>
            </div>
        </nav>
                <!-- 페이지 네이션-->
        </div>
        
    </div>
</div>
</body>

</html>
