<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/board_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1>공지사항</h1>
            <form id="form" action="/board/update" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="no" th:value="${board.no}">
                <table>
                    <tr>
                        <td>제목</td>
                        <td>
                            <input class="inputArea"  type="text" name="title" th:value="${board.title}">
                        </td>
                    </tr>
                    <tr>
                        <td>작성자</td>
                        <td>
                            <input class="inputArea"  type="text" name="writer" th:value="${board.userId}" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="content" id="content" cols="40" rows="5"
                                th:text="${board.content}"></textarea>
                        </td>
                    </tr>
                </table>
                <div class="BtnArea">
                    <button class="insertBtn"  type="submit">수정</button>
                    <button class="BlistBtn"  type="button" onclick="actionDelete()">삭제</button>
                    <button class="insertBtn"  type="button" onclick="moveList()">목록</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let form = document.getElementById('form')

        // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
        let no = "[[${board.no}]]"

        // 수정 화면 이동
        function moveUpdate() {
            location.href = '/board/update?no=' + no
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if (check) {
                form.action = '/board/delete'
                form.submit()
            }
        }

        // 목록 화면 이동
        function moveList() {
            location.href = '/board/list'
        }
    </script>
</body>

</html>
