<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link -->
    <th:block th:replace="~{fragments/main/link::link}"></th:block>
</head>
<body>
     <!-- header -->
     <th:block th:replace="~{fragments/common/header::header}"></th:block>
 

    <!-- ⭐ content -->
    <!-- layout:fragment="레이아웃의 프레그먼트 영역 이름" -->
    <th:block layout:fragment="content"></th:block>
    
    <!-- footer -->
    <th:block th:replace="~{fragments/common/footer::footer}"></th:block>

    <!-- script -->
    <!-- TODO: common/script 는 모든 레이아웃에서 추가고려 (논의하기) -->
    <th:block th:replace="~{fragments/common/script::script}"></th:block>
    <th:block th:replace="~{fragments/main/script::script}"></th:block>
</body>
</html>