<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <th:block th:replace="~{fragments/common/link::link}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments/common/header::header}"></th:block>
    <main layout:fragment="content">
    </main>

    <th:block th:replace="~{fragments/common/footer::footer}"></th:block>
    <th:block th:replace="~{fragments/users/script::script}"></th:block>
</body>
</html>
