<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/register_layout}">
<head>
    <title>회원가입페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css" />
</head>
<style>
  .invalid-feedback {
      display: none;
      color: red;
  }
  .was-validated .invalid-feedback {
      display: block;
  }
</style>
<body layout:fragment="content">
  <div class="container-sm reserve" style="padding: 3%; width: 50%; border-radius: 15px; margin: 0 auto; margin-top: 30px; margin-bottom: 4%; background: #fff4d5">
    <div class="input-form-backgroud row">                          
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">회원가입</h4>
        <div class="button-container">
          <button id="buttonA" class="active" onclick="showContent('A', this)">사용자</button>
          <button id="buttonB" onclick="showContent('B', this)">반려견</button>
        </div>
        <div class="validation-form" novalidate>
          <div class="row">
            <form id="form" method="post" action="/register" onsubmit="combineAddress()">
              <!-- CSRF TOKEN -->
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <input type="hidden" id="combinedAddress" name="combinedAddress">
              <div id="contentA">
                <div class="col-md-6 mb-3">
                  <label for="name">이름</label>
                  <input type="text" class="form-control" id="name" placeholder="Name" value="" required>
                  <div class="invalid-feedback">이름을 입력해주세요.</div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="id">아이디</label>
                  <div class="input-group" id="box-id">
                    <input type="text" class="form-control" id="userId" placeholder="ID" value="" required>
                    <button class="btn btn-secondary" type="button" onclick="checkId()">아이디 중복확인</button>
                    <div class="invalid-feedback">아이디를 입력해주세요.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" placeholder="PW" value="" required>
                  <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="passwordchk">비밀번호확인</label>
                  <div class="input-group" id="box-pw">
                    <input type="password" class="form-control" id="passwordchk" placeholder="비밀번호 확인" value="" required>
                    <button class="btn btn-secondary" type="button" onclick="checkPasswordMatch()">비밀번호 확인</button>
                    <div class="invalid-feedback">비밀번호가 불일치합니다.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="mail">이메일</label>
                  <input type="mail" class="form-control" id="mail" placeholder="you@example.com" required>
                  <div class="invalid-feedback">이메일을 입력해주세요.</div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="mail-verification">이메일 인증</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="mail-verification" placeholder="인증번호 입력" required>
                    <button class="btn btn-secondary">인증번호 확인</button>
                    <div class="invalid-feedback">이메일을 입력해주세요.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone">전화</label>
                  <input type="phone" class="form-control" id="phone" placeholder="01012341234" required>
                  <div class="invalid-feedback">전화번호를 입력해주세요.</div>
                </div>
                <div class="mb-3">
                  <label for="address">주소</label>
                  <input type="text" class="form-control" id="address" placeholder="" required>
                  <div class="invalid-feedback">주소를 입력해주세요.</div>
                </div>
                <div class="mb-3">
                  <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
                  <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
                </div>
                <div class="mb-3">
                  <label for="brith">생년월일</label>
                  <div class="input-group input-daterange">
                    <input type="text" class="form-control" id="brith" value="2012-04-05">
                  </div>
                </div>
                <div class="custom-control custom-checkbox" style="padding: 3% 0;">
                  <input type="checkbox" class="custom-control-input" id="aggrement" required>
                  <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
              </div>
              <div id="contentB">
                <div class="mb-3">
                  <label for="petname">이름</label>
                  <input type="text" class="form-control" id="pet" placeholder="" required>
                  <div class="invalid-feedback">반려견 이름을 입력해주세요.</div>
                </div>
                <div class="mb-3">
                  <label for="pettype">견종</label>
                  <input type="text" class="form-control" id="pettype" placeholder="예시 : 요크셔테리어" required>
                  <div class="invalid-feedback">견종를 입력해주세요.</div>
                </div>
                <div class="mb-3">
                  <label for="code">생일</label>
                  <div class="input-group input-daterange">
                    <input type="text" class="form-control" value="2012-04-05">
                  </div>
                </div>
                <div class="mb-3">
                  <label for="petage">나이</label>
                  <input type="text" class="form-control" id="petage" placeholder="">
                </div>
                <div class="mb-3">
                  <label for="personality">성격</label>
                  <input type="text" class="form-control" id="personality" placeholder="ex)순둥이에요">
                </div>
                <div>
                  <span>기타</span>
                  <br>
                  <textarea rows="4" cols="47"></textarea>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">이미지업로드</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-4" style="text-align: center;padding: 3% 0;">
                  <button type="button" class="btn btn-outline-warning">저장</button>
                  <button type="button" class="btn btn-outline-warning">메인</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div>
          <img src="/img/logo.png" alt="댕댕이" style="width: 30%; display: block; margin-left: auto; margin-right: auto;">
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
  <script>
    // ################################# 달력 ######################################## 
    $("div.input-daterange").each(function() {
      var $inputs = $(this).find('input');
      $inputs.datepicker();
      if ($inputs.length >= 2) {
        var $from = $inputs.eq(0);
        var $to = $inputs.eq(1);
        $from.on('changeDate', function(e) {
          var d = new Date(e.date.valueOf());
          $to.datepicker('setStartDate', d); // 종료일은 시작일보다 빠를 수 없다.
        });
        $to.on('changeDate', function(e) {
          var d = new Date(e.date.valueOf());
          $from.datepicker('setEndDate', d); // 시작일은 종료일보다 늦을 수 없다.
        });
      }
    });

    // ################################# 회원가입 선택 ################################
    function showContent(content, clickedButton) {
      var contentA = document.getElementById("contentA");
      var contentB = document.getElementById("contentB");
      var buttons = document.querySelectorAll('.button-container button');

      // 내용 숨김
      contentA.style.display = "none";
      contentB.style.display = "none";

      // 모든 버튼의 활성화 상태 해제
      buttons.forEach(function(button) {
        button.classList.remove('active');
      });

      // 선택한 내용 보이기
      if (content === "A") {
        contentA.style.display = "block";
      } else if (content === "B") {
        contentB.style.display = "block";
      }

      // 클릭된 버튼 활성화 상태로 설정
      clickedButton.classList.add('active');
    }

    // 페이지 로드 시 초기화
    document.addEventListener('DOMContentLoaded', function() {
      showContent('A', document.getElementById('buttonA'));
    });

    // ################################# 아이디 중복여부 확인 ################################

    // 💍 CSRF TOKEN
    const csrfToken = /*[[${_csrf.token}]]*/ 'CSRF_TOKEN_PLACEHOLDER';

    /*
        아이디 중복 확인
    */
    async function checkId() {
        const userId = document.getElementById("userId").value;

        // null 또는 undefined
        if (!userId) {
            alert("아이디를 입력해주세요");
            return;
        }

        try {
            // 아이디 중복 확인
            const response = await fetch(`/users/register/check/${userId}`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': csrfToken
                }
            });

            if (response.ok) {
                const result = await response.json();
                let boxId = document.getElementById('box-id');
                if (result) {
                    alert('사용 가능한 아이디입니다.');
                    boxId.classList.remove('needs-validation');
                    boxId.classList.add('was-validated');
                    return true;
                } else {
                    alert('중복된 아이디입니다.');
                    boxId.classList.remove('was-validated');
                    boxId.classList.add('needs-validation');
                }
                return false;
            } else {
                alert('아이디 중복 확인 중 오류가 발생했습니다.');
                return false;
            }
        } catch (error) {
            console.error('Error:', error);
            alert('아이디 중복 확인 중 오류가 발생했습니다.');
            return false;
        }
    }

    // ################################# 비밀번호 확인 ######################################
    async function checkPasswordMatch() {
        var password = document.getElementById('password').value;
        var passwordchk = document.getElementById('passwordchk').value;
        var invalidFeedback = document.querySelector('#box-pw .invalid-feedback');
        let boxPw = document.getElementById('box-pw');
    
        // null 또는 undefined 체크
        if (!password || !passwordchk) {
            alert("비밀번호를 입력해주세요.");
            return false;
        }
    
        // 비밀번호 일치 여부 확인
        if (password === passwordchk) {
            alert('비밀번호가 일치합니다.');
            invalidFeedback.style.display = 'none';
            boxPw.classList.remove('needs-validation');
            boxPw.classList.add('was-validated');
            return true;
        } else {
            alert('비밀번호가 일치하지 않습니다.');
            invalidFeedback.style.display = 'block';
            boxPw.classList.remove('was-validated');
            boxPw.classList.add('needs-validation');
            return false;
        }
    }

    // ################################# 주소 합치기 ########################################
    function combineAddress() {
        var address = document.getElementById('address').value;
        var address2 = document.getElementById('address2').value;
        document.getElementById('combinedAddress').value = address + " " + address2;
    }
  </script>
</body>
</html>
