<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->

<head>
    <title>입금 내역서</title>
    <!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
</head>

<body class="body" layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1 class="title">입금 내역서</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <th:block sec:authorize="isAuthenticated()">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="tab-button" th:href="|/trainer/info?userId=${session.user.userId}|">훈련사 정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button" href="/trainer/schedule">스케쥴 관리</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button" href="/trainer/status">내 작업현황</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button active" href="/trainer/deposit">입금 내역서</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button" href="/trainer/orders">예약</a>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </nav>
            <!-- 
                결제 테이블에서 지급 여부가 true이면 승인 상태로 변경
                신청인 id는, 결제와 예약 (예약번호) 조인해서 가져올 예정
             -->
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="first_tr">
                        <th>신청인Id</th>
                        <th>예약 번호</th>
                        <th>승인 현황</th>
                        <th>금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>김훈련</td>
                        <td>1</td>
                        <td>승인&nbsp;&nbsp;&nbsp;&nbsp;취소</td>
                        <td>210,000</td>
                    </tr>
                    <tr>
                        <td>김훈련</td>
                        <td>2</td>
                        <td>승인&nbsp;&nbsp;&nbsp;&nbsp;취소</td>
                        <td>710,350</td>
                    </tr>
                    <tr>
                        <td colspan="3">총금액</td>
                        <td>67,3000</td>
                    </tr>
                </tbody>
            </table>
            <!-- 페이징 버튼 영역 -->
            <div class="paging">
                <ul>
                    <li><a href="#">&lt&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>