<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->

<head>
    <title>입금 내역서</title>
    <!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
</head>

<body class="body" layout:fragment="content">
    <div class="container" >
        <div class="inner">
            <h1 class="title">입금 내역서</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <th:block sec:authorize="isAuthenticated()">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="tab-button" th:href="|/trainer/info?userId=${session.user.userId}|">훈련사 정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button" href="/trainer/schedule">스케쥴 관리</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button active" href="/trainer/deposit">입금 내역서</a>
                            </li>
                            <li class="nav-item">
                                <a class="tab-button" href="/trainer/orders">예약</a>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </nav>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="first_tr">
                        <th>예약자 id</th>
                        <th>훈련</th>
                        <th>승인 현황</th>
                        <th>금액</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="orders : ${ordersList}">
                    <tr>
                        <td th:text="${orders.userId}"></td>
                        <td th:text="${orders.title}"></td>
                        <td class="status">
                            <span th:switch="${orders.status}">
                                <span th:case="'approval'">승인</span>
                                <span th:case="'refund'">환불</span>
                                <span th:case="*">승인 대기</span>
                            </span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(orders.price, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
                    </tr>
                    </th:block>
                        <tr>
                            <td colspan="3">총 금액</td>
                            <td th:text="${#numbers.formatDecimal(totalApprovedAmount, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>