<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<head>
    <title>훈련사 정보 수정</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/e1baf9e274.js" crossorigin="anonymous"></script>
</head>

<body class="body" layout:fragment="content">
    <div class="container mt-5">
        <div class="inner">
            <h1 class="title">훈련사 정보 수정</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button active" th:href="|/trainer/info?userId=${session.user.userId}|">훈련사 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/schedule">스케쥴 관리</a>
                        </li>
                         
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/deposit">입금 내역서</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/orders">예약</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <form th:action="|/trainer/info_update?userId=${session.user.userId}|" method="post" enctype="multipart/form-data">
                <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr class="first_tr">
                            <th>목록</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>경력</td>
                            <td id="career">
                                <th:block th:each="career : ${careerList}">
                                    <input type="hidden" name="careerNos" th:value="${career.no}">
                                    <input type="text" class="form-control mb-1" th:value="${career.name}" name="careerNames">
                                </th:block>
                                <button type="button" class="btn btn-custom5" onclick="addCareerInput()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>소개</td>
                            <td class="text-start">
                                <th:block th:if="${trainer.imgFile == null}">
                                    <img th:src="|/file/img/0|" alt="Certificate Image">
                                </th:block>
                                <th:block th:if="${trainer.imgFile != null && trainer.imgFile.no != 0}">
                                    <img th:src="|/file/img/${trainer.imgFile.no}|" alt="Trainer Image"><br>
                                </th:block>
                                <!-- <button type="file" name="files" class="btn btn-custom1 mb-2" style="margin-top: 0.3rem;" onclick="uploadImage()">이미지 업로드</button> -->
                                <!-- 프로필 업로드는 별도로 -->
                                <input class="form-control mb-2" type="file" name="thumbnail">
                                <textarea class="form-control" rows="3" th:text="${trainer.content}" name="content"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>자격증</td>
                            <td id="certificate">
                                <div class="d-flex justify-content-start mt-3 gap-5 mx-4">
                                    <th:block th:each="certificate : ${certificateList}">
                                        <div id="certificateImg" class="d-flex flex-column align-items-center mx-2">
                                            <th:block th:if="${certificate.imgFile == null}">
                                                <img th:src="|/file/img/0|" alt="Certificate Image"> 
                                            </th:block>
                                            <th:block th:if="${certificate.imgFile != null}">
                                                <img th:src="|/file/img/${certificate.imgFile.no}|" alt="Certificate Image">
                                            </th:block>
                                            <p th:text="${certificate.name}"></p>
                                        </div>
                                    </th:block>
                                </div>
                                <button style="text-align: center;" type="button" class="btn btn-custom5" onclick="addCertificateInput()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom-btn text-end">
                    <button type="submit" class="btn btn-lg btn-custom2">저장</button>
                    <a th:href="|/trainer/info?userId=${session.user.userId}|"><button type="button" class="btn btn-lg btn-custom3">목록</button></a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const csrfToken = "[[${_csrf.token}]]";
        
        function addCareerInput() {
            var careerContainer = document.getElementById("career");
            var input = document.createElement("input");
            input.type = "text";
            input.className = "form-control mb-1";
            input.name = "careerNames";
            input.placeholder = "경력을 입력해주세요.";
            careerContainer.insertBefore(input, careerContainer.lastElementChild);
        }

        function addCertificateInput() {
            var certificateContainer = document.getElementById("certificate");
            var div = document.createElement("div");
            div.className = "d-flex";
            div.innerHTML = `
                <input class="form-control mb-1" type="text" name="certificateNames" placeholder="자격명">
                <input class="form-control mb-1" type="file" name="files">
                `;
            certificateContainer.insertBefore(div, certificateContainer.lastElementChild);
        }

        function deleteFile(element, no, fileNo) {
            alert(`no : ${no}, fileNo : ${fileNo}`);

            let request = new XMLHttpRequest();
            request.open('DELETE', `/certificate?no=${no}&fileNo=${fileNo}`);
            request.setRequestHeader("X-CSRF-TOKEN", csrfToken);
            request.send();

            request.onreadystatechange = function() {
                if (request.readyState == request.DONE && request.status == 200) {
                    console.log('파일 삭제 성공!');
                    element.parentNode.remove();
                }
            }
        }

        function uploadImage() {
            // 이미지 업로드 로직 추가
        }
    </script>
</body>

</html>
