<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<head>
    <title>훈련사 정보 등록</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/e1baf9e274.js" crossorigin="anonymous"></script>
</head>

<body class="body" layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1 class="title">훈련사 정보 등록</h1>
            <h6 class="sub_text">정보 확인 및 훈련사 인증 자료를 올려주세요.</h6>

            <form action="/trainer/join_data" method="post" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="info">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr class="first_tr">
                                <th>목록</th>
                                <th>내용</th>
                            </tr>
                        </thead>
                        <tr class="text-center-content">
                            <td>아이디</td>
                            <td class="text-start">
                                <input type="text" name="userId" th:value="${session.user.userId}">
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>이름</td>
                            <td class="text-start">
                                <input type="text" name="name" th:value="${session.user.name}" placeholder="훈련사 이름을 입력하세요">
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>생년월일</td>
                            <td class="text-start">
                                <input type="date" name="birth" th:value="${#dates.format(session.user.birth, 'yyyy-MM-dd')}" placeholder="생년월일을 입력하세요">
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>성별</td>
                            <td class="text-start">
                                <select name="gender" id="gender">
                                    <option value="남자">남자</option>
                                    <option value="여자">여자</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>주소</td>
                            <td class="text-start">
                                <input type="text" name="address" th:value="${session.user.address}" placeholder="주소를 입력하세요">
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>전화</td>
                            <td class="text-start">
                                <input type="text" name="phone" th:value="${session.user.phone}" placeholder="전화번호를 입력하세요">
                            </td>
                        </tr>
                        <tr class="text-center-content">
                            <td>이메일</td>
                            <td class="text-start">
                                <input type="text" name="mail" th:value="${session.user.mail}" placeholder="이메일을 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <td>경력</td>
                            <td id="career">
                                <input type="text" class="form-control mb-1" value="" name="careerNames" placeholder="경력을 입력해주세요.">
                                <button type="button" class="btn btn-custom5" onclick="addCareerInput()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>소개</td>
                            <td class="text-start">
                                <input type="file" id="thumbnail" class="thumbnail" name="thumbnail">
                                <textarea class="form-control" name="content" rows="3"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>자격증</td>
                            <td id="certificate">
                                <div class="d-flex">
                                    <input class="form-control mb-1" type="text" name="certificateNames" placeholder="자격명">
                                    <input class="form-control mb-1" type="file" name="files">
                                </div>
                                <button type="button" class="btn btn-custom5" onclick="addCertificateInput()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <div class="bottom-btn text-end">
                        <button type="submit" class="btn btn-lg btn-custom4">훈련사 인증</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function addCareerInput() {
            var careerContainer = document.getElementById("career");
            var input = document.createElement("input");
            input.type = "text";
            input.className = "form-control mb-1";
            input.name = "careerNames";
            input.placeholder = "경력을 입력해주세요.";
            careerContainer.insertBefore(input, careerContainer.lastElementChild);
        }

        function addCertificateInput() {
            var certificateContainer = document.getElementById("certificate");
            var div = document.createElement("div");
            div.className = "d-flex";
            div.innerHTML = `
                <input class="form-control mb-1" type="text" name="certificateNames" placeholder="자격명">
                <input class="form-control mb-1" type="file" name="files">
            `;
            certificateContainer.insertBefore(div, certificateContainer.lastElementChild);
        }
    </script>

</body>
</html>
