<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->

<head>
    <title>훈련사 인증</title>
    <!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
</head>

<body class="body" layout:fragment="content">
    <div class="container">
        <div class="inner">
            <h1 class="title">훈련사 인증</h1>
            <h6 class="sub_text">관리자가 자격 확인 후 훈련사 인증이 완료돼요.</h6>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/join_data">회원가입 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/trainer/new_data">훈련사 인증</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <form>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr class="first_tr">
                            <th>목록</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>경력</td>
                            <td>
                                <input type="text" class="form-control mb-1" value="서울 훈련연수소 강사">
                                <input type="text" class="form-control mb-1" value="서울 실력연수소 강사">
                                <input type="text" class="form-control" value="서울 학연연수소 강사">
                                <input type="text" class="form-control" style="color: lightgray;" value="값을 입력해주세요.">
                                <input type="text" class="form-control" style="color: lightgray;" value="값을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <td>소개</td>
                            <td class="text-start">
                                <img src="/img/프로필.png" alt="Trainer Image" class="img-preview mb-2"><br>
                                <button type="button" class="btn btn-custom1 mb-2">이미지 업로드</button>
                                <textarea class="form-control"
                                    rows="3">여러분의 성공을 위해 최선을 다하겠습니다. 문의는 언제든 환영합니다! 여러분의 훈련생활을 즐겁게 만들어 드리겠습니다!</textarea>
                            </td>
                        </tr>
                        </tr>
                        <tr>
                            <td>자격증</td>
                            <td id="tdtd" class="d-flex justify-content-start mt-3">
                                <div class="d-flex flex-column align-items-center mx-2">
                                    <img src="/img/자격증.jpg" alt="Certificate Image">
                                    <p>어쩌구~ 자격증</p>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2">
                                    <img src="/img/자격증.jpg" alt="Certificate Image">
                                    <p>어쩌구~ 자격증</p>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2">
                                    <img src="/img/자격증.jpg" alt="Certificate Image">
                                    <p>어쩌구~ 자격증</p>
                                </div>
                                <button id="button_1" type="button" class="btn btn-custom1 align-self-end">이미지
                                    업로드</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom-btn text-end">
                    <button type="button" class="btn btn-lg btn-custom4">훈련사 인증</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>