<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
    <!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스케쥴 관리</title>
    <style>
        a { text-decoration: none; color: black; }
    </style>
</head>
<body class="body" layout:fragment="content">
    <div class="container">
        <div class="inner">
            <div class="title-container">
                <h1 class="title">스케쥴 관리</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" th:href="|/trainer/info?userId=${session.user.userId}|">훈련사 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/trainer/schedule">스케쥴 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/status">내 작업현황</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/deposit">입금 내역서</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/orders">예약</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container p-4">
                <div id="calendar"></div>

            </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/locales/ko.js"></script> -->
    <script>
    
        var trainerNo = "[[${trainerNo}]]"

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'ko',  // 한국어 설정
                events: `/trainer/schedule/event/?trainerNo=${trainerNo}`,
                height: '700px', // calendar 높이 설정
				expandRows: true, // 화면에 맞게 높이 재설정
				// 해더에 표시할 툴바
				headerToolbar: {
					right: 'prev,next today',
				},
                selectable: true, // 달력 일자 드래그 설정가능
				nowIndicator: true, // 현재 시간 마크
				dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                eventDidMount: function(info) {
                    // 이벤트가 렌더링될 때 호출되는 콜백 함수
                    // 여기서 이벤트의 배경색을 설정할 수 있습니다.
                    info.el.style.color = info.event.extendedProps.color; // 배경색을 파란색으로 설정 (원하는 색상으로 변경 가능)
                    info.el.style.backgroundColor = "#FFE0B2";
                    console.log(info.event.extendedProps.backgroundColor);
                }
            });
            calendar.render();
        });

    </script>
    
</body>
</html>