<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/trainer_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스케쥴 관리</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="body" layout:fragment="content">
    <div class="container">
        <div class="inner">
            <div class="title-container">
                <h1 class="title">스케쥴 관리</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="tab-button" th:href="|/trainer/info?userId=${session.user.userId}|">훈련사 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button active" href="/trainer/schedule">스케쥴 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/deposit">입금 내역서</a>
                        </li>
                        <li class="nav-item">
                            <a class="tab-button" href="/trainer/orders">예약</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container p-4">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>

    <button id="trigger-modal">일정 추가</button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var trainerNo = "[[${trainerNo}]]"; // Thymeleaf를 사용하여 서버에서 변수 주입
        var csrfToken = "[[${_csrf.token}]]"; // CSRF TOKEN

        document.addEventListener('DOMContentLoaded', async function () {
            var calendarEl = document.getElementById('calendar');

            const response = await fetch(`/trainer/schedule/event?trainerNo=${trainerNo}`)
            const eventList = await response.json()
            console.log(eventList);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: '700px', // calendar 높이 설정
                expandRows: true, // 화면에 맞게 높이 재설정
                customButtons: {
                    myCustomButton: {
                        text: "일정 추가",
                        click: function () {
                            document.getElementById('trigger-modal').click();
                        }
                    }
                },
                headerToolbar: {
                    right: 'prev,next today',
                    center: 'title',
                    left: 'myCustomButton',
                },
                selectable: true, // 달력 일자 드래그 설정가능
                nowIndicator: true, // 현재 시간 마크
                dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                locale: 'ko', // 한국어 설정
                events: eventList,
                eventDidMount: function (info) {
                    info.el.title = info.event.start; // 이벤트에 마우스를 올렸을 때 표시할 툴팁 설정
                    info.el.style.backgroundColor = '#FFD700'
                },
                eventClick: function(info) {
                    let no = info.event._def.extendedProps.no;
                    if (!no) {
                        Swal.fire({
                            title: "스케쥴 번호가 없습니다.",
                            text: "관리자에게 문의해주세요.",
                            icon: "error"
                        });
                        return;
                    }

                    Swal.fire({
                        title: "일정을 삭제하시겠습니까?",
                        text: "삭제된 일정은 되돌릴 수 없습니다.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "삭제",
                        cancelButtonText: "취소"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch(`/trainer/schedule/event/${no}`, {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-Token': csrfToken // CSRF 토큰 추가
                                }
                            }).then(response => {
                                if (response.ok) {
                                    info.event.remove();
                                    Swal.fire({
                                        title: "일정 삭제",
                                        text: "일정이 삭제되었습니다.",
                                        icon: "success"
                                    });
                                } else {
                                    Swal.fire({
                                        title: "일정 삭제 실패",
                                        text: "일정 삭제가 실패되었습니다.",
                                        icon: "error"
                                    });
                                }
                            }).catch(error => {
                                console.error('Error:', error);
                                Swal.fire({
                                    title: "일정 삭제 중 에러",
                                    text: "일정 삭제 중 오류가 발생했습니다.",
                                    icon: "error"
                                });
                            });
                        }
                    });
                }
            });
            calendar.render();
        });

        document.getElementById('trigger-modal').addEventListener('click', function () {
            Swal.fire({
                title: '일정 추가',
                icon: "info",
                html: `
                    <form id="scheduleForm" action="/trainer/schedule" method="post">
                        <input type="hidden" id="csrfToken" name="_csrf" value="${csrfToken}" />
                        <div>
                            <label for="title">사유 :</label>
                            <input type="text" id="title" name="title" required />
                        </div>
                        <div>
                            <label for="scheduleDate">휴무일 :</label>
                            <input type="datetime-local" id="scheduleDate" name="scheduleDate" required />
                        </div>
                    </form>
                `,
                showCancelButton: true,
                confirmButtonText: '추가',
                cancelButtonText: '취소',
                preConfirm: () => {
                    const title = Swal.getPopup().querySelector('#title').value;
                    const scheduleDate = Swal.getPopup().querySelector('#scheduleDate').value;
                    if (!title || !scheduleDate) {
                        Swal.showValidationMessage(`Please enter title and schedule date`);
                    }
                    return {
                        title: title,
                        scheduleDate: scheduleDate
                    };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = document.getElementById('scheduleForm');
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>
