<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/main_layout}">
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 정보</title>
  <style>
    .event-log {
      font-family: consolas, Monaco, monospace;
      margin: 10px 5px;
      line-height: 2;
      border: 1px solid #4c4c4c;
      height: auto;
      width: 90%;
      padding: 2px 6px;
      color: #4c4c4c;
      white-space: pre;
    }
    .tit{
      text-decoration: none;
    }
  </style>
</head>

<body layout:fragment="content">

  <section>
     <!--댓글start-->
     <div class="row">
      <div id="reply-input col-12 col-md-6">
        <h3>댓글</h3>
        <div class="reply-input card shadow-sm" style="padding: 3%; width: 100%;">
             <!-- CSRF 토큰 추가 -->
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="text" name="writer" id="reply-writer" class="reply-writer"
                    placeholder="작성자">
            <br>
            <textarea name="content" id="reply-content" cols="60" rows="5"
                    placeholder="댓글을 작성해주세요."></textarea>
            <div class="btn-box">
                <button type="button" id="btn-reply-insert" class="btn-reply"
                        onclick="insertReply()">등록</button>
            </div>
            <button onclick="insertReply()">Insert Reply</button>
        </div>
    </div>
</div>
    <!-- 댓글 목록 -->
    <div id="reply-list">

    </div>
    <!--댓글end-->
    <form action="/orders" method="get">

      <input type="hidden" name="trainerNo" id="trainerNo" th:value="${product.trainerNo}">

      <div class="album bg-body-tertiary">
        <div class="container">
          <div class="main-title" style="padding-bottom: 2em;">
            <h3 class="display-4 fw-bold text-body-emphasis text-center">예약 정보</h3>
          </div>
    
          <!-- 상품 정보 -->
          <div class="row">
            <div class="col-12 col-md-6">
              <!-- 상품 아이템 -->
              <div class="card shadow-sm">
                &nbsp;
                <a th:href="|/products/${product.id}|">
                  <div class="card-box">
                    <img src="/img/about.png" th:src="|/files/img/${product.thumbnailId}|" class="w-100" alt="about"
                      style="max-height: 460px; object-fit: contain;">
                  </div>
                </a>
                &nbsp;
              </div>
            </div>
            <div class="col-12 col-md-6">
              <th:block th:if="${session.user != null}">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <h3 class="card-title fs-2" th:text="${product.name}"></h3>
                    <input type="hidden" name="title" th:value="${product.name}">
      
                    <p class="card-text" th:text="${product.description}"></p>
                    <div class="d-flex justify-content-end">
                      <p>
                        <input type="hidden" name="price" th:value="${product.price}">
                        가격 : <span class="fw-bold" th:text="${product.price}"></span>
                      </p>
                    </div>
                    <div class="modal-body">
                      예약날짜를 선택해주세요
                      <label for="resDate">예약날짜</label>
                      <div id="calendar" class="input-group">
                        <input type="date" class="form-control" name="resDate" id="resDate" value="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <label for="address">방문주소</label>
                        <input type="text" class="form-control" id="address" name="address"
                          th:value="${session.user.address}" >
                        <div class="invalid-feedback">
                          주소을 입력해주세요.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <label for="memo">요청사항</label>
                        <input type="text" class="form-control" id="memo" name="memo" placeholder="">
                        <div class="invalid-feedback">
                          요청사항을 입력해주세요.
                        </div>
                      </div>
                    </div>
      
                    <input type="hidden" id="productId" name="productId" th:value="${product.id}">
                    <button type="submit" class="btn btn-success w-100" data="trainer123">예약하기</button>
                  </div>
                </div>
              </th:block>
              <th:block th:if="${session.user == null}">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <!-- <input type="hidden" class="form-control" id="title" name="title" th:value="${product.name}" required> -->
                    <h3 class="card-title fs-2" th:text="${product.name}"></h3>
      
                    <p class="card-text" th:text="${product.description}"></p>
                    <div class="d-flex justify-content-end">
                      <p>
                        가격 : <span class="fw-bold" th:text="${product.price}"></span>
                      </p>
                    </div>
      
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </form>
        <!--훈련사 홍보상세-->
        <div>
          <div id="page-top">
            <!-- Services-->
            <section class="content-section bg-primary text-white text-center" id="services">
                <div class="container px-4 px-lg-5">
                    <div class="content-section-heading">
                        <h3 class="text mb-0" style="color: aliceblue;">김조은 훈련사</h3>
                        <h2 class="mb-5"  th:text="${product.content}"></h2>
                    </div>
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                            <h4><strong>검색순</strong></h4>
                            <p class="text-faded mb-0">찾아주셔서 감동</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                            <h4><strong>댓글수</strong></h4>
                            <p class="text-faded mb-0">와우 흥미로워요</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                            <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                            <h4><strong>좋아요</strong></h4>
                            <p class="text-faded mb-0">
                               감동
                                <i class="fas fa-heart"></i>
                               인기 만점 훈련사
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                            <h4><strong>질문</strong></h4>
                            <p class="text-faded mb-0">빠른 답변</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Portfolio-->
            <section class="content-section" id="portfolio">
                <div class="container px-4 px-lg-5">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">Trainer</h3>
                        <h2 class="mb-5">Certificate</h2>
                    </div>
                    <div class="row gx-0">
                        <div class="col-lg-3">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                        <div class="tit">수료증1</div>
                                        <p class="mb-0">한국펫교육훈련수료증</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/product/product01.jpg" alt="..." />
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                      <div class="tit">수료증1</div>
                                      <p class="mb-0">한국펫교육훈련수료증</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/product/product02.jpg" alt="..." />
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                      <div class="tit">수료증1</div>
                                      <p class="mb-0">한국펫교육훈련수료증</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/product/product03.jpg" alt="..." />
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                      <div class="tit">수료증1</div>
                                      <p class="mb-0">한국펫교육훈련수료증</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/product/product04.jpg" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
            </div>
            </div>
            <!--훈련사 홍보상세-->
            <!--훈련사 이력-->
            <div th:each="trainer : ${trainerList}">
              <h1 th:text="${trainer.no}">김조은 훈련사프로필</h1> 
                <div>
                  <h3>대표경력</h3>
                  <p th:text="${trainer.mail}">한국애견협회우수승</p>
                </div>
              </div>
            </div>
        <div>
          <div class="text-left-content">
              <h1>경력</h1>
              <div>
                  <th:block th:each="career : ${careerList}">
                      <p class="text-start" th:text="${career.name}"></p>
                  </th:block>
                </div>
              </div>
          <div class="text-left-content">
              <h1>자격증</h1>
              <div>
                  <div class="d-flex justify-content-start mt-3 gap-5 mx-4">
                      <th:block th:each="certificate : ${certificateList}">
                          <div class="d-flex flex-column align-items-center mx-2">
                              <img th:if="${certificate.imgFile != null}" th:src="|/file/img/${certificate.imgFile.no}|" alt="Certificate Image">
                              <p th:text="${certificate.name}"></p>
                          </div>
                      </th:block>
                  </div>
                </div>
              </div>
              </div>
              
            <!--훈련사 이력end-->
          
</section>


  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js">
  </script>
<script>
  let no = "[[${board.no}]]"      // 글번호

    let trainerId = ''
    $(function () {

      $('.btn-reserv').on('click', function () {
        trainerId = $(this).attr('data')

      })
    })

    //달력 기본값설정(오늘로)
    document.addEventListener("DOMContentLoaded", function () {
      const today = new Date();
      const year = today.getFullYear();
      let month = today.getMonth() + 1;
      if (month < 10) {
        month = "0" + month;
      }
      let day = today.getDate();
      if (day < 10) {
        day = "0" + day;
      }
      const todayString = `${year}-${month}-${day}`;
      document.getElementById("resDate").value = todayString;
    });

    document.getElementById("submitDate").addEventListener("click", function () {
      const selectedDate = document.getElementById("resDate").value;
      localStorage.setItem("resDate", resDate); // 선택된 날짜를 로컬 스토리지에 저장
      showModal(); // 모달 표시 함수 호출
    });
    //예약날짜 저장스크립트
    document.getElementById("submitDate").addEventListener("click", function () {
      const selectedDate = document.getElementById("resDate").value;
      const date = encodeURIComponent(resDate)
      window.location.href = `/reserve/insert?date=${date}&trainerId=${trainerId}`;
    });
/////////
  // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
 // let no = "[[${board.no}]]"      // 글번호

  // 댓글 목록 요청
  replyList()         
  

  // 수정 화면 이동
  function moveUpdate() {
      location.href = '/board/update?no=' + no
  }

  // 목록 화면 이동
  function moveList() {
      location.href = '/board/list'
  }

  // 파일 삭제
  function deleteFile(element, no) {
      // alert(no)

      // AJAX 비동기 요청
      let request = new XMLHttpRequest()

      // 요청 세팅
      // request.open(요청메소드, URL)
      request.open('DELETE', '/file/' + no)
      request.send()

      request.onreadystatechange = function() {

          // 요청 성공 시,
          if( request.readyState == request.DONE && request.status == 200 ) {
              console.log('파일 삭제 성공!');
              // 파일 항목 제거
              element.parentNode.remove()
          }
      }
  }

  // 댓글 목록
  function replyList() {
       // AJAX 비동기 요청
       let request = new XMLHttpRequest()

      // 요청 세팅
      request.open('GET', '/reply/' + no)
      request.send()

      request.onreadystatechange = function() {

          // 요청 성공 시,
          if( request.readyState == request.DONE && request.status == 200 ) {
              // 댓글 목록
              let response = request.responseText

              // ⭐ 서버에서 렌더링한 HTML로 갱신(SSR)
              let data = response     // (html)

              // ⭐ JSON 데이터를 전달받아 HTML 로 변환 (CSR)
              // let replyListData = JSON.parse(response) // JSON -> array
              // let data = ``
              // for(let i = 0 ; i < replyListData.length ; i++ ) {
              //     data += `<div class="reply-box">`
              //     data += `<div class="inner">`
              //     let writer = replyListData[i].writer        // 작성자
              //     let content = replyListData[i].content      // 댓글내용
              //     let date = replyListData[i].regDate
                  
              //     data += `<div class="top">`
              //     data += `<span class="reply-writer">${writer}</span>`
              //     data += `<span class="reply-date">${date}</span>`
              //     data += `<div class="item">`
              //     data += `<button class="btn-reply-update">수정</button>`
              //     data += `<button class="btn-reply-delete">삭제</button>`
              //     data += `</div>`
              //     data += `</div>`

              //     data += `<p class="reply-content">${content}</p>`
              //     data += `<button class="btn-reply-answer">답글</button>`
              //     data += `</div>`
              //     data += `</div>`
              // }

              let replyList = document.getElementById('reply-list')
              replyList.innerHTML = data

              // 이벤트 등록    
              event()
          }
      }

  }

  // 댓글 등록
  function insertReply() {
    // 💍 CRSF TOKEN
      // var csrfToken = "[[${_csrf.token}]]"
      // let $writer = document.getElementById('reply-writer')
      // let $content = document.getElementById('reply-content')

      // let writer = $writer.value
      // let content = $content.value

      // let data = {
      //     'boardNo'   : no,
      //     'writer'    : writer,
      //     'content'   : content 
      // }

      // let request = new XMLHttpRequest()
      
      // request.open('POST', '/reply')
      // request.setRequestHeader('Content-Type', 'application/json')
      // request.send( JSON.stringify(data) )
      // request.setRequestHeader("X-CSRF-TOKEN", csrfToken)
      // request.onreadystatechange = function() {
      //     // 요청 성공 시,
      //     if( request.readyState == request.DONE && request.status == 201 ) {
      //         console.log('댓글 등록 성공!');
      //         // alert(request.responseText)     // 응답 메시지 확인
      //         let response = request.responseText
      //         if( response == 'SUCCESS' ) {
      //             replyList()     // 댓글 목록 갱신
      //             // 댓글 입력 창 비우기
      //             $writer.value = ''
      //             $content.value = ''
      //         }
      //     }
      // }

      console.log("insertReply function called");
      // Add your code to insert a reply here

  }

  // 이벤트 등록
  function event() {

      // 댓글 수정 버튼
      let $btnUpdate = document.getElementsByClassName('btn-reply-update')
      // 댓글 수정 클릭 이벤트
      for( let i = 0 ; i < $btnUpdate.length ; i++ ) {
          
          $btnUpdate[i].addEventListener('click', function() {
              // $btnUpdate[i] : 수정 버튼
              let $top = $btnUpdate[i].parentNode.parentNode
              let writer = $top.childNodes[1].textContent
              let $inner = $top.parentNode
              let content = $inner.childNodes[3].textContent
              let $replyBox = $inner.parentNode

              let no = $btnUpdate[i].getAttribute('data')         // 댓글 번호

              // 댓글 수정 모드
              // 1. 기존 댓글 내용창 숨기기
              $inner.style.display = 'none'
              // 2. 수정 UI 출력
              let $editor = document.createElement('div')
              $editor.classList.add('inner')
              $editor.id = 'editor'
              let editor = ``
              // editor += `<div class="inner" id="editor">`
              editor += `<input type="text" value="${writer}" id="update-writer" />`
              editor += `<br>`
              editor += `<textarea cols="60" rows="5" id="update-content">${content}</textarea> `
              editor += `<br>`
              editor += `<button onclick="updateReply(${no})">수정</button>`
              editor += `<button onclick="cancelReply()">취소</button>`
              // editor += `</div>`
              $editor.innerHTML = editor
              $replyBox.appendChild($editor)
          })
      }
  }

  // 댓글 삭제 요청
  function deleteReply(no) {

      const check = confirm("정말로 삭제하시겠습니까?")
      if( !check )
          return

      // 삭제 요청
      let request = new XMLHttpRequest()
      request.open('DELETE', '/reply/' + no)
      // request.open('DELETE', `/reply/${no}`)       // ⭐템플릿 문자열
      request.send()

      request.onreadystatechange = function() {
          // 요청 성공 시,
          if( request.readyState == request.DONE && request.status == 200 ) {
              console.log('댓글 삭제 성공!');
              let response = request.responseText
              // alert(response)
              if( response == 'SUCCESS' ) {
                  replyList()     // 댓글 목록 갱신
              }
          }
      }
  }

  // 댓글 수정 취소
  function cancelReply() {
      let $editor = document.getElementById('editor')
      $editor.remove()            // 요소 삭제

      let $inner = document.getElementsByClassName('inner')
      for (let i = 0; i < $inner.length; i++) {
          $inner[i].style.display = 'block'                
      }
  }

  // 댓글 수정 요청
  function updateReply(no) {
      let writer = document.getElementById('update-writer').value
      let content = document.getElementById('update-content').value

      console.log(`수정한 작성자 : ${writer}`);
      console.log(`수정한 내용 : ${content}`);

      let data = {
          'no'        : no,
          'writer'    : writer,
          'content'   : content,
      }

      console.dir(data)

      // 수정 요청
      let request = new XMLHttpRequest()
      request.open('PUT', '/reply')
      request.setRequestHeader("Content-Type", "application/json")
      request.send( JSON.stringify(data) )

      request.onreadystatechange = function() {
          // 요청 성공 시,
          if( request.readyState == request.DONE && request.status == 200 ) {
              console.log('댓글 수정 성공!');
              let response = request.responseText
              // alert(response)
              if( response == 'SUCCESS' ) {
                  replyList()     // 댓글 목록 갱신
              }
          }
      }
  }

  // 답글 등록
  function insertAnswer(element, no) {
      let $replyBox = element.parentNode.parentNode
      console.log(`부모 번호 : ${no}`);
      console.log($replyBox);

      // 답글 작성 UI
      let $editor = document.createElement('div')     
      $editor.classList.add('reply-box')
      $editor.id = 'answer'
      // <div id="answer" class="reply-box" >
      let editor = ``
      editor += `<div class="inner">`
      editor += `<input type="text" id="answer-writer" />`     
      editor += `<br>`     
      editor += `<textarea cols="60" rows="5" id="answer-content"></textarea>`     
      editor += `<br>`     
      editor += `<button onclick="answer(${no})">등록</button>`     
      editor += `<button onclick="cancelAnswer()">취소</button>`     
      editor += `</div>`     
      $editor.innerHTML = editor

      // 기존 답글 UI 가 있으면 초기화
      let $answer = document.getElementById("answer");
      if ($answer) {
          $answer.parentNode.removeChild($answer);
      }

      // 요소.after(새 요소)
      // - 요소 바로 뒤에 새 요소를 추가합니다.
      $replyBox.after($editor)
  }

  // 답글 등록 요청
  function answer(parentNo) {
      // TODO
      // 1. answer-writer, answer-content  값을 가져오고
      // 2. data = { 부모번호, 작성자, 내용 }
      // 3. POST - /reply  요청
      let $writer = document.getElementById('answer-writer')
      let $content = document.getElementById('answer-content')

      let writer = $writer.value            
      let content = $content.value            

      let data = {
          'boardNo'    : no,
          'parentNo'   : parentNo,
          'writer'     : writer,
          'content'    : content
      }

      let request = new XMLHttpRequest()

      request.open('POST', '/reply')
      request.setRequestHeader('Content-Type', 'application/json')
      request.send( JSON.stringify(data) )

      request.onreadystatechange = function() {
          if( request.readyState == request.DONE && request.status == 201 ) {
              let response = request.responseText 
              if( response == 'SUCCESS' ) {
                  replyList()         // 댓글 목록 갱신
              }

          }
      }
  }

  // 답글 등록 취소
  function cancelAnswer() {

      let $answer = document.getElementById("answer");
      if ($answer) {
          $answer.parentNode.removeChild($answer);
      }

  }

//////////////
  </script>


</body>

</html>