<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/main_layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 화면</title>
  <style>
    #carousel {
      max-width: 100%;
      width: 768px;
      height: 512px;
    }

    .divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
  </style>
</head>

<body layout:fragment="content">
  <!-- 상품 목록 -->
  <section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container" style="padding: 70px;">
        <div class="row">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" style="border: 0;" th:each="product : ${products}">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" style="background: #fff;" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne-[[${product.id}]]" aria-expanded="false"
                  aria-controls="collapseOne-[[${product.id}]]">
                  <div class="col">
                    <div class="card shadow-sm">
                      <div class="card-body">
                        <div class="col" style="width: 320px; height: 320px; background: #fff6df; border-radius: 30px;">
                          <div style="padding: 3% 0;">
                            <a th:href="|/products/${product.id}|">
                              <img th:src="|/files/img/${product.thumbnailId}|" class="img-thumbnail" alt="훈련사"
                                style="background: none; border: 0; display: block; width: 197px; margin: 0 auto;">
                            </a>
                            <div style="display: flex; padding: 3% 0; width: 100%; justify-content: center;">
                              <img src="/img/kakao.png" class="img-thumbnail" alt="훈련사"
                                style="background: none; border: 0; display: block; width: 35px; margin: 0 auto;">
                              <img src="/img/twitter.png" class="img-thumbnail" alt="훈련사"
                                style="background: none; border: 0; display: block; width: 35px; margin: 0 auto;">
                            </div>
                          </div>
                          <a class="btn btn-primary btn-reserv"
                            style="letter-spacing: 3px; font-size: .75rem; display: block; margin: 0 auto;
                                                       background: #3742fa; font-weight: bold; padding: 4% 0; width: 85px;">보기</a>
                        </div>
                        <div>
                          <h3 class="card-title fs-5" th:text="${product.name}"></h3>
                          <p class="card-text" th:text="${product.description}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </button>
              </h2>
              <div id="collapseOne-[[${product.id}]]" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h3 style="font-family: 'Jua';">경력자격증</h3>
                  <div class="container px-4 text-center row" style="padding: 0;">
                    <div class="col col-md-3" th:each="trainer : ${trainerList}">
                      <div class="p-3">
                        <img src="/img/license.png" class="img-thumbnail" alt="자격증">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3">KKF 인증 3등 훈련사</div>
                  </div>
                  <h3 style="padding: 3% 0; font-family: 'Jua';">자기소개</h3>
                  <table>
                    <tr th:each="trainer : ${trainerList}">
                      <td th:text="${trainer.no}">김조은 훈련사프로필</td>
                      <td>
                      <th>대표경력</th>
                      <td th:text="${trainer.mail}">한국애견협회우수승</td>
                      </td>
                      <td>
                      <th>전문분야</th>
                      <td>중형견</td>
                      </td>
                      <td>
                      <th>방문지역</th>
                      <td>인천</td>
                      </td>
                    </tr>
                  </table>
                  <div style="padding: 5%;">
                    <p>
                      애견훈련사 조승현입니다. 많은 실전 경험, 그리고 지식과 이론 바탕으로 보호자님과 반려견의
                      상황과 성향에 맞춰 알맞는 교육을 진행하겠습니다. 단순하게 간단하게 끝나는 교육이 아닌 정확한
                      상황판단과 행동분석을 통해 보호자님 그리고 반려견의 행복한 생활을 위해 노력하겠습니다.
                    </p>
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined">더보기</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- masonry lib -->
  <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous"></script>
</body>

</html>