
<th:block th:fragment="custom-header">
    <header>
        <div class="top-row">
            <div class="logo">
                <a href="/"><img src="/img/logo.png" style="width: 130px;" alt="댕댕이"></a>
            </div>

            <div class="mobile-auth"    id="mobile-auth">
                <th:block sec:authorize="isAnonymous()">
                    <a href="/users/login" class="btn btn-outline-secondary mx-1">로그인</a>
                    <a href="/users/register" class="btn btn-outline-secondary mx-1">회원가입</a>
                 </th:block>
                 <th:block sec:authorize="isAuthenticated()">
                <form action="/logout" method="post" class="d-inline">
                    <!-- CSRF TOKEN -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <a href="/users/index" class="btn btn-outline-secondary mx-1 same-style-btn">마이페이지</a>
                    <button type="submit" class="btn btn-outline-secondary mx-1 same-style-btn" style="padding: 6px 12px; border: 1px solid #6c757d;">로그아웃</button>
                </form>
            </th:block>
            </div>
            <div class="hamburger" id="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav id="nav">
                <a href="/introduce">소개</a>
                <a href="/products">훈련사</a>
                <a href="/QnA/list">문의</a>
                <a href="/board/list">공지사항</a>
            </nav>
            <div class="auth" id="auth">
                <!-- 비 로그인 시 -->
                <th:block sec:authorize="isAnonymous()">
                    <a href="/users/login" class="btn btn-outline-secondary mx-1">로그인</a>
                    <a href="/users/register" class="btn btn-outline-secondary mx-1">회원가입</a>
                </th:block>
                <!-- 로그인 시 -->
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${session.user.role == 0}">
                        <a href="/trainer/join_data" class="btn btn-outline-success mx-1 same-style-btn">훈련사 등록</a>
                    </th:block>
                    <th:block th:if="${session.user.role == 1}">
                        <a href="javascript:;" class="btn btn-outline-success mx-1 same-style-btn" onclick="trainerConfirm()">훈련사 승인중</a>
                    </th:block>
                    <th:block th:if="${session.user.role == 2}">
                        <a th:href="|/trainer/info?userId=${session.user.userId}|" class="btn btn-outline-success mx-1 same-style-btn">훈련사</a>
                    </th:block>
                    <th:block th:if="${session.user.role == 3}">
                        <a href="/admin/admin_info" class="btn btn-outline-success mx-1 same-style-btn">관리자</a>
                    </th:block>
                    <!-- <th:block sec:authorize="hasRole('ROLE_TRAINER')">
                        <a href="/trainer/info" class="btn btn-outline-success mx-1 same-style-btn">훈련사</a>
                    </th:block> -->
                    <a href="/users/index" class="btn btn-outline-secondary mx-1 same-style-btn">마이페이지</a>
                    <form action="/logout" method="post" class="d-inline">
                        <!-- CSRF TOKEN -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit" class="btn btn-outline-secondary mx-1 same-style-btn" style="padding: 6px 12px; border: 1px solid #6c757d;">로그아웃</button>
                    </form>
                </th:block>
            </div>
           
        </div>
    
        <div class="mobile-menu" id="mobile-menu">
            
            <nav>
                <a href="introduce">소개</a>
                <a href="trainer">훈련사</a>
                <a href="#">문의</a>
                <a href="#">공지사항</a>
            </nav>
           
        </div>
    </header>
    <script src="/js/header.js"></script>
</th:block>
