<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.orders.mapper.CategoriesMapper">

    <!-- 목록 -->
    <select id="list" >
        SELECT *
        FROM categories
        ORDER BY seq ASC
    </select>

    <!-- 조회 -->
    <select id="select" >
        SELECT *
        FROM categories
        WHERE id = #{id}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO categories ( id, code, name, seq )
        VALUES ( UUID(), #{code}, #{name}, #{seq} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE categories
           SET code = #{code}
              ,name = #{name}
              ,seq = #{seq}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM categories
        WHERE id IN ( ${id} )
    </delete>

</mapper>