<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.orders.mapper.OrderItemsMapper">

    <!-- 목록 -->
    <select id="list" >
        SELECT *
        FROM order_items
    </select>

    <!-- 목록 - 주문ID -->
    <select id="listByOrderId" >
        SELECT *
        FROM order_items
        WHERE orders_id = #{ordersId}
    </select>

    <!-- 조회 -->
    <select id="select" >
        SELECT *
        FROM order_items
        WHERE id = #{id}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO order_items (id, orders_id, products_id, quantity, price, amount) 
        VALUES ( #{id}, #{ordersId}, #{productsId}, #{quantity}, #{price}, #{amount} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE order_items
           SET quantity = #{quantity}
              ,price = #{price}
              ,amount = #{amount}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM order_items
        WHERE id = #{id}
    </delete>

</mapper>