<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.mypet.mungmoong.orders.mapper.OrdersMapper">

    <!-- 결제 목록 -->
    <select id="list" resultType="com.mypet.mungmoong.orders.dto.Orders">
        SELECT *
        FROM orders
        ORDER BY reg_date DESC
    </select>

    <!-- 결제 조회 -->
   <select id="select" resultType="com.mypet.mungmoong.orders.dto.Orders">
        SELECT *
        FROM orders
        WHERE no = #{dateno}
    </select>

    <!-- 결제 등록 -->
    <insert id="insert" parameterType="com.mypet.mungmoong.orders.dto.Orders">
        <selectKey keyProperty="NO" resultType="java.lang.Integer" order="AFTER" >
            SELECT LAST_INSERT_ID() AS NO
        </selectKey>
        INSERT INTO orders (ID, PRODUCT_ID, USER_ID, pet_no, trainer_no, address, resDate, MEMO, TITLE, TOTAL_PRICE, STATUS)
        VALUES (UUID(), #{productId}, #{userId}, #{petNo}, #{trainerNo}, #{address}, #{resDate}, #{memo}, #{title}, #{totalPrice}, 'pending');
    </insert>

    <!-- 결제 수정 -->
   <update id="update" parameterType="com.mypet.mungmoong.orders.dto.Orders">
        UPDATE orders
        SET TITLE = #{title},
            TOTAL_PRICE = #{totalPrice},
            STATUS = #{status},
            upd_date = now()
        WHERE ID = #{ID}
    </update>

    <!-- 결제 삭제 -->
    <delete id="delete">
        DELETE FROM orders
        WHERE no = #{no}
    </delete>

</mapper>