<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.orders.mapper.ProductsMapper">

    <!-- 목록 -->
    <select id="list">
        SELECT p.id
              ,p.name
              ,p.trainer_no
              ,p.description
              ,p.content
              ,p.price
              ,p.created_at
              ,p.updated_at
              ,( SELECT id FROM files WHERE parent_table = 'products' AND parent_id = p.id AND is_main = 1 ) thumbnail_id 
        FROM products p
        ORDER BY p.created_at DESC
    </select>

    <!-- 조회 -->
    <select id="select">
        SELECT *
        FROM products p
        WHERE id = #{id}
    </select>
    <!-- 조회 -->
    <select id="selectPro">
        SELECT p.id,
            p.name,
            p.trainer_no
            p.description,
            p.content,
            p.price,
            p.created_at,
            p.updated_at,
            ( SELECT id FROM files WHERE parent_table = 'products' AND parent_id = p.id AND is_main = 1 LIMIT 1 ) thumbnail_id
        FROM products p
        ORDER BY p.created_at DESC
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO products ( id, name, trainer_no, description, content, price)
        VALUES ( #{id}, #{name}, #{trainerNo}, #{description}, #{content}, #{price} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE products
           SET name = #{name}
              ,trainer_no = #{trainerNo}
              ,content = #{content}
              ,price = #{price}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM products
        WHERE id IN ( ${id} )
    </delete>

    <select id="adminList">
        SELECT *
        FROM products
        ORDER BY created_at DESC
    </select>

    <insert id="adminInsert">
        INSERT INTO products ( id, name, trainer_no, description, content, price)
        VALUES ( #{id}, #{name}, #{trainerNo}, #{description}, #{content}, #{price} )
    </insert>

    <update id="adminUpdate">
        UPDATE products
           SET name = #{name}
              ,description = #{description}
              ,content = #{content}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <delete id="adminDelete">
        DELETE FROM products
        WHERE id = #{id}
    </delete>

</mapper>