<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/users_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지 > 배송지 관리</title>
</head>
<body layout:fragment="content">

  
  <div class="container">
    <div class="my-5">
      <h1>배송지 관리</h1>

      <!--  -->
      <div class="d-flex justify-content-between my-3">
        <div class="item">
          <a href="/users/address/insert" class="btn btn-primary">등록하기</a>
        </div>
        <div class="item">
          <div class="dropdown dropstart">
            <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical fs-3"></i>
            </span>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:;" onclick="deleteItem()">
                  <i class="bi bi-trash3-fill"></i>
                  선택삭제
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
      <!--  -->
      <form id="form" action="/user/address/delete" method="post">
        <!-- CSRF TOKEN -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">주소지</th>
              <th scope="col">받는사람</th>
              <th scope="col">전화번호</th>
              <th scope="col">기본배송지</th>
              <th scope="col">등록일자</th>
              <th scope="col"><i class="bi bi-gear"></i></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <th:block th:each="address : ${addressList}">
              <tr class="align-middle">
                <th class="text-center">
                  <input type="checkbox" name="deleteIdList" id="deleteIdList" class="form-check-input" th:value="${address.id}">
                </th>
                <td class="text-center"><span th:text="${address.recipient}"></span></td>
                <td class="text-center"><span th:text="${address.title}"></span></td>
                <td class="text-center"><span th:text="${address.phone}"></span></td>
                <td class="text-center">
                  <th:block th:if="${address.isDefault == true}">
                    <i class="bi bi-check-square-fill text-primary"></i>
                  </th:block>
                </td>
                <td class="text-center"><span th:text="${#dates.format(address.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                <td class="text-center">
                  <a th:href="|/user/address/${address.id}|" class="btn btn-primary">수정</a>
                </td>
                
              </tr>
            </th:block>
          </tbody>
        </table>
      </form>

    </div>
  </div>

  <script>
    function deleteItem() {
      const form = $('#form')
      form.submit()
    }
  </script>
</body>
</html>