<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/board_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner">
        <h2>문의 게시판</h2>
        <div class="d-flex justify-content-between mb-3">
            <div class="Q&A">
                <a href="/QnA/insert">글쓰기</a>
                <!-- <button class="btn btn-primary" onclick="gotoRead()">문의하기</button> -->
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr colspan="6" align="center">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>등록일자</th>
                    <th>수정일자</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${qnaList.isEmpty()}">
                    <tr>
                        <td colspan="6" align="center">
                            조회된 게시글 정보가 없습니다.
                        </td>
                    </tr>
                </th:block>

                <th:block th:each="qna : ${qnaList}">
                    <tr>
                        <td  class="text-truncate" th:text="${qna.qnaNo}"></td>
                        <td>
                            <a th:href="|/QnA/read?qnaNo=${qna.qnaNo}|" 
                            th:text="${qna.qnaTitle}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;table-layout:fixed"></a>
                        </td>
                        <td  class="text-truncate" th:text="${qna.qnaWriter}"style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;table-layout:fixed"></td>
                        <td  class="text-truncate" th:text="${qna.qnaContent}"style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;table-layout:fixed"></td>
                        <td class="text-truncate">
                            <span th:text="${ #dates.format( qna.regDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                        </td>
                        <td  class="text-truncate">
                            <span th:text="${ #dates.format( qna.updDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <!-- <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
                <select class="form-select me-2" style="width: auto;">
                    <option>----</option>
                </select>
                <button class="btn btn-secondary">검색</button>
            </div>
        </div> -->
      
        <nav class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">다음</a></li>
            </ul>
        </nav>
    </div>
    </div>
</body>
</html>
    