<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/board_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
    <style>
        button{
            font-size: 1.1rem;
    width: 110px;
    font-weight: bold;
    padding: 0.6em 2em;
    background-color: #FFE0B2;
    color: #DAA414;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
        }
    button:hover {
    background-color: #F6C542 !important;
    color: snow !important;
    }
    .replylist{
        background-color: #fff;
        margin-top: 2%;
    }
    .inner.box{
        margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: none;
    padding: 30px;
    }
    .txt{
        padding: 3%;
    }
    .inner_qna{
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    }
    </style>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="inner_qna">
            <h2>문의 게시판</h2>
        <!-- <h2>문의 게시판</h2> -->
    <form action="/QnA/delete" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="no" th:value="${qna.no}">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input  class="inputArea" type="text" name="title" id="title" th:value="${qna.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input  class="inputArea" type="text" name="writer" id="writer" th:value="${qna.writer}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" id="content" cols="40" rows="5"
                              th:text="${qna.content}"></textarea>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="button" onclick="moveUpdate()">수정</button>
            <button type="button" onclick="moveList()">목록</button>
        </div>
    </form>
</div>
</div>
 <!--댓글start-->
 <div class="container">
    <!-- 댓글 입력 -->
    <th:block sec:authorize="isAuthenticated()">
    <div class="row">
      <div id="reply-input col-12 col-md-6">
        <h1 class="d-flex justify-content-start">답글</h1>
        <div class="reply-input card">
          <div class="btn-box d-flex justify-content-between" style="border: 0;padding: 2%;">
             <div class="d-flex justify-content-center">
              <!-- CSRF 토큰 추가 -->
              <img class="myimg" src="/img/myimg01.png"></img>
              <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
              <input type="hidden" name="userId" id="user-id" th:value="${session.user.userId}">
              <input type="text" name="writer" id="reply-writer" th:value="${session.user.name}" readonly  placeholder="작성자"  style="border: 0;">
            </div>
              <button type="button " id="btn-reply-insert" class="btn-reply button" style="padding: 0;
              height: 36px;
              margin-top: 2%;" onclick="insertReply()">등록</button> 
          </div>
            <textarea name="content"class="txt" id="reply-content" cols="60" rows="5" placeholder="댓글을 작성해주세요."></textarea>
            <script>
              var no = "[[${qna.no}]]";
              var csrfToken = "[[${_csrf.token}]]";
              // 댓글 목록 요청
              replyList();
               // 댓글 목록
              function replyList() {
                // AJAX 비동기 요청
                let request = new XMLHttpRequest()
                // 요청 세팅
                request.open('GET', '/QnA/reply?parentTable=QnA&parentNo='+ no)
                console.log(no);
                request.send()
                request.onreadystatechange = function () {
                  // 요청 성공 시,
                  if (request.readyState == request.DONE && request.status == 200) {
                    // 댓글 목록
                    let response = request.responseText

                    // ⭐ 서버에서 렌더링한 HTML로 갱신(SSR)
                    let data = response     // (html)
                    console.log(data);
                    let replyList = document.getElementById('reply-list')
                    replyList.innerHTML = data

                    // 이벤트 등록    
                    // event()
                  }
                }

              }
              // 이벤트 등록
                function event() {
                      // 댓글 수정 버튼
                      let $btnUpdate = document.getElementsByClassName('btn-reply-update')
                      // 댓글 수정 클릭 이벤트
                      for (let i = 0; i < $btnUpdate.length; i++) {

                        $btnUpdate[i].addEventListener('click', function () {
                          // $btnUpdate[i] : 수정 버튼
                          let $top = $btnUpdate[i].parentNode.parentNode
                          let writer = $top.childNodes[1].textContent
                          let $inner = $top.parentNode
                          let content = $inner.childNodes[3].textContent
                          let $replyBox = $inner.parentNode

                          let no = $btnUpdate[i].getAttribute('data')         // 댓글 번호

                          // 댓글 수정 모드
                          // 1. 기존 댓글 내용창 숨기기
                          $inner.style.display = 'none'
                          // 2. 수정 UI 출력
                          let $editor = document.createElement('div')
                          $editor.classList.add('inner')
                          $editor.id = 'editor'
                          let editor = ``
                          // editor += `<div class="inner" id="editor">`
                          editor += `<input type="text" value="${writer}" id="update-writer" />`
                          editor += `<br>`
                          editor += `<textarea cols="60" rows="5" id="update-content">${content}</textarea> `
                          editor += `<br>`
                          editor += `<button onclick="updateReply(${no})">수정</button>`
                          editor += `<button onclick="cancelReply()">취소</button>`
                          // editor += `</div>`
                          $editor.innerHTML = editor
                          $replyBox.appendChild($editor)
                        })
                      }
            }
              // 댓글 삽입 함수입니다.
              function insertReply() {
                // 작성자와 내용 가져오기
                let $userId = document.getElementById('user-id');
                let $writer = document.getElementById('reply-writer');
                let $content = document.getElementById('reply-content');
                let userId = $userId.value
                let writer = $writer.value;
                let content = $content.value;
                $.ajax({
                  url: '/QnA/reply',
                  method: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({
                    'userId': userId,
                    'parentNo': no,
                    'writer': writer,
                    'content': content
                  }),
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                  },
                  success: function (response) {
                    console.log('댓글 등록 성공!');
                    console.log(no);
                    console.log(writer);
                    console.log($content.value);
                    // 응답 메시지 확인
                    if (response === 'SUCCESS') {
                        replyList(); // 댓글 목록 갱신
                      // 댓글 입력 창 비우기
                      $writer.value = '';
                      $content.value = '';
                    }
                  },
                  error: function (xhr, status, error) {
                    console.log(error);
                  }
                });
              }
            </script>

          </div>
        </div>
        <!-- 댓글 목록 -->
        <div id="reply-list" class="replylist">
        </div>
      </div>
    </div>
    </th:block>
    <!--댓글end-->
    <!-- 댓글 목록 -->
    <script>


        // 수정 화면 이동
        function moveUpdate() {
            location.href = '/QnA/update?no=' + no
        }

        // 목록 화면 이동
        function moveList() {
            location.href = '/QnA/list'
        }

           // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
    // 댓글 삭제 요청
function deleteReply(no) {

const check = confirm("정말로 삭제하시겠습니까?")
if (!check)
  return

// 삭제 요청
let request = new XMLHttpRequest()
// request.open('DELETE', '/products/reply/' + no)
request.open('DELETE', `/reply/${no}`)       // ⭐템플릿 문자열
request.setRequestHeader("X-CSRF-TOKEN", csrfToken);
request.send()

request.onreadystatechange = function () {
  // 요청 성공 시,
  if (request.readyState == request.DONE && request.status == 200) {
    console.log('댓글 삭제 성공!');
    let response = request.responseText
    // alert(response)
    if (response == 'SUCCESS') {
      replyList()     // 댓글 목록 갱신
    }
  }
}
}

// 댓글 수정 취소
function cancelReply() {
let $editor = document.getElementById('editor')
$editor.remove()            // 요소 삭제

let $inner = document.getElementsByClassName('inner')
for (let i = 0; i < $inner.length; i++) {
  $inner[i].style.display = 'block'
}
}

// 댓글 수정 요청
function updateReply(no) {
let writer = document.getElementById('update-writer').value
let content = document.getElementById('update-content').value

console.log(`수정한 작성자 : ${writer}`);
console.log(`수정한 내용 : ${content}`);

let data = {
  'no': no,
  'writer': writer,
  'content': content,
}

console.dir(data)

// 수정 요청
let request = new XMLHttpRequest()
request.open('PUT', '/QnA/reply')
request.setRequestHeader("Content-Type", "application/json")
request.send(JSON.stringify(data))

request.onreadystatechange = function () {
  // 요청 성공 시,
  if (request.readyState == request.DONE && request.status == 200) {
    console.log('댓글 수정 성공!');
    let response = request.responseText
    // alert(response)
    if (response == 'SUCCESS') {
      replyList()     // 댓글 목록 갱신
    }
  }
}
}
    </script>
</body>
</html>