<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.users.mapper.UsersMapper">

    <resultMap type="Users" id="userMap">
        <id property="userId" column="user_id" />
        
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="birth" column="birth" />
        <result property="address" column="address" />
        <result property="mail" column="mail" />
        <result property="phone" column="phone" />
        <result property="regDate" column="reg_date" />
        <result property="updDate" column="upd_date" />
        <result property="role" column="role" />
        <result property="enabled" column="enabled" />
        
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

        
    <resultMap type="UserAuth" id="authMap">
        <result property="authNo" column="auth_no" />
        <result property="userId" column="user_id" />
        <result property="auth" column="auth" />
    </resultMap>


    <select id="list" resultMap="userMap">
        SELECT *
        FROM users
        ORDER BY reg_date DESC
    </select>

    <!-- 로그인 - username -->
    <select id="login" resultMap="userMap">
        SELECT u.user_id
              ,u.password
              ,u.name
              ,u.birth
              ,u.address
              ,u.mail
              ,u.phone
              ,u.reg_date
              ,u.upd_date
              ,u.enabled
              ,u.role
              ,auth
        FROM users u LEFT OUTER JOIN user_auth auth ON u.user_id = auth.user_id
        WHERE u.user_id = #{userId}
    </select>


    <!-- 회원 조회 - id -->
    <select id="select" resultMap="userMap">
        SELECT u.user_id
              ,u.password
              ,u.name
              ,u.birth
              ,u.address
              ,u.mail
              ,u.phone
              ,u.reg_date
              ,u.upd_date
              ,u.enabled
              ,u.role
              ,auth
        FROM users u LEFT OUTER JOIN user_auth auth ON u.user_id = auth.user_id
        WHERE u.user_id = #{userId}
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO users ( user_id, password, name, birth, address, mail,phone, role )
        VALUES ( #{user_id}, #{password}, #{name}, #{birth}, #{address}, #{mail}, #{phone}, #{role} )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE users
           SET name = #{name}
              ,email = #{email}
              ,profile = #{profile}
              ,updated_at = now()
        WHERE username = #{username}
    </update>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_id, auth )
        VALUES ( #{userId}, #{auth} )
    </insert>

</mapper>