<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.mypet.mungmoong.board.mapper.BoardMapper">

     <!-- 게시글 목록 - [페이징] + [검색] -->
    <select id="list" resultType="Board">
        SELECT *
        FROM board
        WHERE 
            <if test="option.code == 0">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR writer LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        ORDER BY reg_date DESC
        LIMIT #{page.index}, #{page.rows}
    </select>

    <!-- 게시글 조회 -->
    <select id="select" resultType="Board">
        SELECT *
        FROM board
        WHERE no = #{no}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO board( no,title, user_id, content, reg_date)
        VALUES ( #{no}, #{title}, #{userId}, #{content}, now())
    </insert>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE board
           SET title = #{title}
              ,user_id = #{userId}
              ,content = #{content}
              ,upd_date = now()     
        WHERE no = #{no}
    </update>

    <update id="boardUpdate">
        UPDATE board
           SET title = #{title}
              <!-- ,user_id = #{userId} -->
              ,content = #{content}
              ,upd_date = now()     
        WHERE no = #{no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM board
        WHERE no = #{no}
    </delete>

        <!-- 관리자 삭제 -->
    <delete id="BoardDelete">
        DELETE FROM board
        WHERE no = #{no}
    </delete>

    <!-- 게시글 번호 최댓값 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(no)
        FROM board
    </select>
    <!-- 데이터 개수 조회 - [검색] -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE 
            <if test="option.code == 0">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR writer LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        ORDER BY reg_date DESC
    </select>

    <!-- 게시글 목록 - [검색] -->
    <select id="search" resultType="Board">
        SELECT *
        FROM board
        WHERE 
            <if test="option.code == 0">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR writer LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        ORDER BY reg_date DESC
    </select>


</mapper>