<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.pet.mapper.PetMapper">
    
    <!-- 새로운 반려동물 추가 -->
    <insert id="insertPet">
      INSERT INTO pet (petname, age, petgender, pettype, `character`, reg_date, upd_date, order_no, user_id)
    VALUES (#{petname}, #{age}, #{petgender}, #{pettype}, #{character}, now(), now(), #{orderNo}, #{userId})
    </insert>
    
    <!-- 반려동물 정보 수정 -->
    <update id="updatePet">
        UPDATE pet
        SET petname = #{petname}, age = #{age}, petgender = #{petgender}, `character` = #{character}, 
            upd_date = #{updDate}
        WHERE pet_no = #{petNo}
    </update>
    
    <!-- 반려동물 정보 삭제 -->
    <delete id="deletePet" parameterType="int">
        DELETE FROM pet
        WHERE pet_no = #{petNo}
    </delete>
    
    <!-- 반려동물 정보 검색 -->
    <select id="findPetById" parameterType="int" >
        SELECT *
        FROM pet
        WHERE pet_no = #{petNo}
    </select>
    
<select id="findPetByUserId" resultType="Pet">
    SELECT p.*
    FROM pet p
    INNER JOIN users u ON p.user_id = u.user_id
    WHERE p.user_id = #{userId}
</select>

</mapper>
