<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.pet.mapper.PetMapper">
    
    <!-- 새로운 반려동물 추가 -->
    <insert id="insertPet">
    INSERT INTO pet (petname, age, petgender, type, `character`, special_notes, reg_date, upd_date, user_id)
    VALUES (#{petname}, #{age}, #{petgender}, #{type}, #{character}, #{specialNotes}, now(), now(), #{userId})
    </insert>

    
    <!-- 반려동물 정보 수정 -->
    <update id="updatePet">
        UPDATE pet
        SET petname = #{petname}, age = #{age}, petgender = #{petgender}, `character` = #{character}, special_notes = #{specialNotes}, 
            upd_date = #{updDate}
        WHERE pet_no = #{petNo} AND user_id = #{userId}
    </update>

    
    <!-- 반려동물 정보 삭제 -->
    <delete id="deletePet" parameterType="int">
        DELETE FROM pet
        WHERE pet_no = #{petNo}
    </delete>
    
    
   <!-- 반려동물 정보 검색 -->
    <select id="findPetById" parameterType="int" resultType="com.mypet.mungmoong.pet.dto.Pet">
        SELECT *
        FROM pet
        WHERE pet_no = #{petNo}
    </select>


     <!-- 반려동물 userId로 검색 -->
    <select id="findPetsByUserId" resultType="com.mypet.mungmoong.pet.dto.Pet">
        SELECT *
        FROM pet
        WHERE user_id = #{userId}
    </select>

</mapper>
