<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료</title>
</head>
<body layout:fragment="content">

  <section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="main-title py-5">
          <h3 class="display-4 fw-bold text-body-emphasis text-center">주문 완료</h3>
          <p class="text-center">주문이 완료되었습니다. 감사합니다.</p>
        </div>

        <div class="row py-5">
          <!-- 결제 정보 -->
          <div class="col-12 col-md-12">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="card-title">
                  <h3>결제 정보</h3>
                </div>
                <table class="table">
                  <tr>
                    <th class="table-secondary">주문금액</th>
                    <td>
                      <p class="m-0" th:text="|&#8361; ${#numbers.formatInteger(order.price, 0, 'COMMA')} 원|"></p>
                    </td>
                  </tr>
                </table>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <h5>총 결제금액</h5>
                  <h5 class="text-danger fw-bold" th:text="|&#8361; ${#numbers.formatInteger(order.price, 0, 'COMMA')} 원|"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center gap-2">
          <div class="item">
            <a href="" class="btn btn-outline-primary">주문 상세보기</a>
          </div>
          <div class="item">
            <a href="" class="btn btn-primary">쇼핑 계속하기</a>
          </div>
        </div>
    </div>
  </section>
  

 
</body>
</html>