<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/reserve_layout}"
      >
<head>
    <title>예약 페이지</title>
    <style>
      .form-control{
        border-radius: 49px;
      }
    </style>
</head>
  <!-- 모달 -->
 <body layout:fragment="content">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">결제정보입력</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="col g-7">
            <div class="mb-3">
                <label for="name" class="form-label">결재자</label>
                <input type="name" class="form-control" id="" placeholder="결재자">
              </div>
            <div class="mb-3">
                <label for="name" class="form-label">결재금액</label>
                <input type="name" class="form-control" id="" placeholder="결재금액">
              </div>
            <div class="mb-3">
                <label for="name" class="form-label">카드번호</label>
                <input type="name" class="form-control" id="" placeholder="카드번호">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary">저장</button>
        </div>
      </div>
    </div>
  </div>
  <h4 style="padding: 3% 25% 0 25%;font-family: 'Jua';">홍길동 훈련사님 예약</h4>
  <div class="input-form-backgroud row"
  style="padding: 3%;
  width: 50%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 4%;
  background: #fff4d5">                          
          <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">예약하기</h4>
            <form class="validation-form" novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="name">예약자</label>
                  <input type="text" class="form-control" id="name" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    이름을 입력해주세요.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="nickname">훈련사명</label>
                  <input type="text" class="form-control" id="nickname" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    훈련사를 입력해주세요.
                  </div>
                </div>
              </div>
    
              <div class="mb-3">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  이메일을 입력해주세요.
                </div>
              </div>
              <div class="mb-3">
                <label for="phone">전화</label>
                <input type="phone" class="form-control" id="phone" placeholder="01012341234" required>
                <div class="invalid-feedback">
                  전화번호를 입력해주세요.
                </div>
              </div>
    
              <div class="mb-3">
                <label for="address">주소</label>
                <input type="text" class="form-control" id="address" placeholder="서울특별시 강남구" required>
                <div class="invalid-feedback">
                  주소를 입력해주세요.
                </div>
              </div>
              <div class="mb-3">
                <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
              </div>
              <div class="mb-3">
                <label for="pet">견종</label>
                <input type="pet" class="form-control" id="pet" placeholder="예시 : 요크셔테리어" required>
                <div class="invalid-feedback">
                  전화번호를 입력해주세요.
                </div>
              </div>
              <div class="mb-3">
                <label for="petage">나이</label>
                <input type="petage" class="form-control" id="petage" placeholder="*살" required>
                <div class="invalid-feedback">
                  반려견나이를 입력해주세요
                </div>
              </div>
              <div>
                <p>요청사항</p>
                <textarea rows="4" cols="47"></textarea>
             </div>
              <div class="row">
                <div class="col-md-8 mb-3">
                  <label for="root">예약선택</label>
                  <select class="custom-select d-block w-100" id="product" style="padding: 3% 0; border-radius: 31px;">
                    <option value=""></option>
                    <option value="40000">훈련</option>
                    <option value="15000">돌봄</option>
                  </select>
                  <div class="invalid-feedback">
                    예약종류를 선택해주세요.
                  </div>
                </div>
            </div>
            <div>
                <div class="col-md-4 mb-3" id="priceDisplay">
                  <label for="code">금액</label>
                  <input type="text" class="form-control" id="code" placeholder="" required>
              </div>
              <!-- 모달을 실행할 버튼 -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                결제
              </button>
            </div>
            <div class="custom-control custom-checkbox" style="padding: 3% 0;">
                <input type="checkbox" class="custom-control-input" id="aggrement" required>
                <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
              </div>
              <div class="mb-4" style="text-align: center;padding: 3% 0;">               
                <button type="button" onclick="reserveList()" class="btn btn-outline-warning">저장</button>
              <button type="button"onclick="reserveList()" class="btn btn-outline-warning">목록</button>
              </div>
              
            </form>
          </div>
        </div>
        <div>
          <p style="text-align: center ;">멍뭉닷컴</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script>
 function reserveList(){
    location.href='/reserve/list'
 }
 const productSelect = document.getElementById("product");
const priceDisplay = document.getElementById("priceDisplay");

productSelect.addEventListener("change", function() {
  const selectedPrice = productSelect.value;
  priceDisplay.textContent = "선택한 결제 금액은 " + selectedPrice + "원 입니다.";
  // 스타일을 JavaScript로 직접 적용
  priceDisplay.style.fontSize = "18px";
  priceDisplay.style.color = "red";
  priceDisplay.style.whiteSpace = "nowrap";
});
 </script>
</body>
</html>