<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>
</head>
<style>
    body {
      min-height: 100vh;

    }

    .btn-primary {
        border-radius: 50px;
        color: #fff;
        background-color: #F6C542;
        border-color: #F6C542;
    }

    .btn-primary:hover {
        color: #F6C542;
        background-color: #fff;
        border:1px solid #F6C542;
}

    .input-form {
      max-width: 680px;
      margin-top: 80px;
      padding: 32px;

      background: #FFF7E5;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>

<!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">

    <div class="container">
        <div class="input-form-backgroud row">
          <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">예약</h4>
            <form class="validation-form" novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="name">이름</label>
                  <input type="text" class="form-control" id="name" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    이름을 입력해주세요.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="nickname">아이디</label>
                  <input type="text" class="form-control" id="nickname" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    아이디을 입력해주세요.
                  </div>
                </div>
              </div>
    
              <div class="mb-3">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  이메일을 입력해주세요.
                </div>
              </div>
    
              <div class="mb-3">
                <label for="address">주소</label>
                <input type="text" class="form-control" id="address" placeholder="서울특별시 강남구" required>
                <div class="invalid-feedback">
                  주소를 입력해주세요.
                </div>
              </div>
    
              <div class="mb-3">
                <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
              </div>
    
              <div class="row">
                <div class="col-md-8 mb-3">
                  <label for="root">가입 경로</label>
                  <select class="custom-select d-block w-100" id="root">
                    <option value=""></option>
                    <option>검색</option>
                    <option>카페</option>
                  </select>
                  <div class="invalid-feedback">
                    가입 경로를 선택해주세요.
                  </div>
                  <hr class="mb-4">
                  <div>
                    <label for="code">예약날짜</label>
                     <!-- 시작시 기본 날짜 설정은 value를 이용 -->
                    <input type="text" id="datePicker" class="form-control" value="2019-06-27" /><br>
                    <input type="text" id="datePicker" class="form-control" value="2019-06-27" />
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="code">추천인 코드</label>
                  <input type="text" class="form-control" id="code" placeholder="" required>
                  <div class="invalid-feedback">
                    추천인 코드를 입력해주세요.
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="aggrement" required>
                <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
              </div>
              <div class="mb-4"></div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">예약 완료</button>
            </form>
          </div>
        </div>
        <footer class="my-3 text-center text-small">
          <p class="mb-1">&copy; 2024 멍뭉닷컴</p>
        </footer>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
        window.addEventListener('load', () => {
          const forms = document.getElementsByClassName('validation-form');
    
          Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
    
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
    
       $('#datePicker')
          .datepicker({
             format: 'yyyy-mm-dd', //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
             startDate: '-10d', //달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
             endDate: '+10d', //달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
             autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
             calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
             clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
             datesDisabled: ['2019-06-24', '2019-06-26'], //선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
             daysOfWeekDisabled: [0, 6], //선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
             daysOfWeekHighlighted: [3], //강조 되어야 하는 요일 설정
             disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
             immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
             multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
             multidateSeparator: ',', //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
             templates: {
                leftArrow: '&laquo;',
                rightArrow: '&raquo;',
             }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
             showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
             title: '테스트', //캘린더 상단에 보여주는 타이틀
             todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
             toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
             weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
             language: 'ko', //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
          })
          .on('changeDate', function (e) {
             /* 이벤트의 종류 */
             //show : datePicker가 보이는 순간 호출
             //hide : datePicker가 숨겨지는 순간 호출
             //clearDate: clear 버튼 누르면 호출
             //changeDate : 사용자가 클릭해서 날짜가 변경되면 호출 (개인적으로 가장 많이 사용함)
             //changeMonth : 월이 변경되면 호출
             //changeYear : 년이 변경되는 호출
             //changeCentury : 한 세기가 변경되면 호출 ex) 20세기에서 21세기가 되는 순간
    
             console.log(e);
             // e.date를 찍어보면 Thu Jun 27 2019 00:00:00 GMT+0900 (한국 표준시) 위와 같은 형태로 보인다.
          });
    
      </script>

</body>
</html>