<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/reserve_layout}"
      >
 <head>
        <title>예약 페이지</title>
    </head>
    <body layout:fragment="content">
         <!-- ⭐ 파일 업로드 추가 : enctype="multipart/form-data" -->
    <form action="/trainermain/insert" method="post"  enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <table border="1">
      <tr>
          <td>썸네일</td>
          <td>
              <input type="file" name="thumbnail" id="thumbnail">
          </td>
      </tr>
      <tr>    
          <td>제목</td>
          <td>
              <input type="text" name="title" id="title">
          </td>
      </tr>
      <tr>
          <td>작성자</td>
          <td>
              <input type="text" name="writer" id="writer">
          </td>
      </tr>
      <tr>
          <td colspan="2">
              <textarea name="content" id="content" cols="40" rows="5"></textarea>
          </td>
      </tr>
      <!-- ⭐ 파일 업로드 추가 -->
      <tr>
          <td>파일</td>
          <td>
              <input type="file" name="file" multiple>
          </td>
      </tr>
  </table>
  <input type="submit" value="등록">
</form>
</body>