<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/reserve_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
<body layout:fragment="content">
       <!--모달start-->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel" data="trainer123">예약하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        예약날짜를 선택해주세요
        <div id="calendar" class="input-group">
          <input type="date" id="selectedDate" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button id="submitDate" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
          data-bs-dismiss="modal">저장</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">예약확인</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p th:text="${selectedDate}">예약날짜</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" onclick="moveInsert()" data-bs-target="#exampleModalToggle"
          data-bs-toggle="modal" data-bs-dismiss="modal">확인</button>
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
          data-bs-dismiss="modal">수정</button>
      </div>
    </div>
  </div>
</div>
<!--모달end-->
<div class="container">
    <h1>훈련사 목록</h1>
    <a href="/trainermain/insert">작성하기</a>
    <div class="container" style="padding: 70px;">
        <div class="accordion" id="accordionExample">
          <!--start-->
          <div class="accordion-item" style="border: 0;">
            <h2 class="accordion-header" id="headingOne">
              <div class="accordion-button" style=" background: #fff;" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <!--훈련사리스트부분시작-->
                <div class="row">
                  <div class="col" style="width:320px; height:320px; background:#fff6df; border-radius:30px;">
                    <div style="padding: 3% 0;">
                      <img src="/img/thumnail.png" class="img-thumbnail" alt="훈련사"
                        style="background: none;border:0;display: block;width: 197px;margin: 0 auto;">
                      <div style="display: flex; padding: 3% 0; width: 100%; padding: 0 36%; justify-content: center;">
                        <img src="/img/kakao.png" class="img-thumbnail" alt="훈련사"
                          style="background: none;border:0;display: block;width: 35px;margin: 0 auto;float: left;">
                        <img src="/img/twitter.png" class="img-thumbnail" alt="훈련사"
                          style="background: none;border:0;display: block;width: 35px;margin: 0 auto;float: left;">
                      </div>
                    </div>
                    <a class="btn btn-primary btn-reserv" data="user" data-bs-toggle="modal" href="#exampleModalToggle"
                      role="button" style="letter-spacing: 3px;
                        font-size: .75rem;
                        display: block;
                        margin: 0 auto;
                        background: #3742fa;
                        font-weight: bold;
                        padding: 4% 0%;
                        width: 85px;">예약</a>
                  </div>
                  <div class="col">
                    <table>
                        <tr th:each="trainer : ${trainerList}">
                          <td>
                            <!-- th:???="|문자열+${표현식}|" -->
                            <a th:href="|/trainermain/read?no=${trainer.userId}|" 
                            th:text="${trainer.userId}"></a>
                         </td>
                          <th>아이디</th>
                          <td  th:text="${trainer.userId}"></td>
                          <th>이름</th>
                          <td th:text="${trainer.name}"></td>
                          <th>메일</th>
                          <td th:text="${trainer.mail}"></td>
                        </tr>
                      </table>
                    <h5 style="font-size: 1rem;font-weight:bold;">이용요금</h5>
                    <div style="border: 1px solid #333;border-radius: 10px;padding: 5%;">
                      <div>
                        <span>100분 방문교육</span>
                        <span>W 150,000</span>
                      </div>
                      <div>
                        <span>120분 방문교육</span>
                        <span>W 150,000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--훈련사리스트부분끝-->
              </div>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3 style="font-family: 'Jua';">경력자격증</h3>
                <div class="container px-4 text-center row" style="padding: 0;">
                  <div class="col col-md-3">
                    <div class="p-3" >
                      <img src="/img/license.png" class="img-thumbnail" alt="자격증">
                    </div>
                    <div class="col">
                      <div class="p-3">KKF 인증 3등 훈련사</div>
                    </div>
                  </div>
                  <div class="col col-md-3">
                    <div class="p-3">
                      <img src="/img/license.png" class="img-thumbnail" alt="자격증">
                    </div>
                    <div class="col">
                      <div class="p-3">KKF 인증 3등 훈련사</div>
                    </div>
                  </div>
                  <div class="col col-md-3">
                    <div class="p-3">
                      <img src="/img/license.png" class="img-thumbnail" alt="자격증">
                    </div>
                    <div class="col">
                      <div class="p-3">KKF 인증 3등 훈련사</div>
                    </div>
                  </div>
    
                </div>
                <h3 style="padding: 3% 0;font-family: 'Jua';">자기소개</h3>
                <table style="align-items: center;padding: 3%;display: block;background: yellowgreen;">
                    <tr th:each="trainer : ${trainerList}" >
                        <td class="content" th:text="${trainer.content}"></td>
                    </tr>
                  </table>
                <div>
                    </div>
            
    <!-- 검색 -->
    <div>
        <form action="/trainermain/list" method="get">
            <select name="code">
                <!-- <option th:each="item : ${optionList}" 
                        th:value="${item.code}" 
                        th:text="${item.keyword}"
                        th:selected="${item.code == option.code}"></option> -->
                <!-- <option value="0" th:selected="${option.code == 0}">전체</option>
                <option value="1" th:selected="${option.code == 1}">제목</option>
                <option value="2" th:selected="${option.code == 2}">내용</option>
                <option value="3" th:selected="${option.code == 3}">제목+내용</option>
                <option value="4" th:selected="${option.code == 4}">작성자</option> -->
            </select>
            <input type="text" name="keyword" placeholder="검색어 입력"
                   th:value="${param.keyword}">
            <input type="submit" value="검색">
        </form>
    </div>

    <!-- 페이지네이션 -->
    <div>
        <!-- [처음] -->
        <a th:href="|/trainermain/list?page=${page.first}&code=${option.code}&keyword=${option.keyword}|">&laquo;</a>
        
        <!-- [ 이전 ] -->
        <th:block th:if="${page.page != page.first}">
            <a th:href="|/trainermain/list?page=${page.prev}&code=${option.code}&keyword=${option.keyword}|">&lt;</a>
        </th:block>

        <!-- [페이지 번호]-->
        <!-- 
            #numbers.sequence(시작번호, 끝번호)
            : 시작번호 부터 끝번호까지 번호 리스트를 생성
         -->
        <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
            <!-- 현재 페이지 -->
            <th:block th:if="${page.page == no}">
                <b>
                    <span th:text="${no}"></span>
                </b>
            </th:block>
            <th:block th:if="${page.page != no}">
                <a th:href="|/trainermain/list?page=${no}&code=${option.code}&keyword=${option.keyword}|" th:text="${no}"></a>
            </th:block>
        </th:block>

        <!-- [ 다음 ] -->
        <th:block th:if="${page.page != page.last}">
            <a th:href="|/trainermain/list?page=${page.next}&code=${option.code}&keyword=${option.keyword}|">&gt;</a>
        </th:block>

        <!-- [마지막] -->
        <a th:href="|/trainermain/list?page=${page.last}&code=${option.code}&keyword=${option.keyword}|">&raquo;</a>
    </div>

    <table border="1">
        <tr>
            <th width="50">번호</th>
            <th width="100">썸네일</th>
            <th width="300">제목</th>
            <th width="100">작성자</th>
            <th width="200">등록일자</th>
            <th width="200">수정일자</th>
            <th widht="100">조회수</th>
            <th>액션</th>
        </tr>
        <!-- 
            th:if="조건식" 
            - 타임리프에서 조건에 만족하는 html 만 출력해준다.
        -->
        <th:block th:if="${boardList.isEmpty()}">
            <tr>
                <td colspan="7" align="center">
                    조회된 게시글 정보가 없습니다.
                </td>
            </tr>
        </th:block>
        <th:block th:each="trainer : ${trainerList}">
            <tr>
                <td align="center" th:text="${trainer.no}"></td>
                <!-- <td>
                    <img th:src="|/file/img/${board.fileNo}|" alt="썸네일" width="100">
                </td> -->
                <td>
                    <!-- th:???="|문자열+${표현식}|" -->
                    <a th:href="|/trainermain/read?no=${trainer.no}|" 
                    th:text="${trainer.no}"></a>
                </td>
                <td align="center" th:text="${trainer.no}"></td>
                <!-- 
                    유틸리티객체.메소드()
                    #dates.format( 날짜객체명, '날짜포맷' ) 
                    - #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss' )
                -->
                <td align="center">
                    <span th:text="${ #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                </td>
                <td align="center">
                    <span th:text="${ #dates.format( board.updDate, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                </td>
                <td>
                    <span class="material-symbols-outlined">thumb_up</span>
                    <span class="material-symbols-outlined">thumb_down</span>
                    <span class="material-symbols-outlined">favorite</span>
                </td>
            </tr>
        </th:block>
    </table>

</div>
      <!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script>

  let trainerId = ''
  $(function () {

    $('.btn-reserv').on('click', function () {
      trainerId = $(this).attr('data')

    })
  })

  //달력 기본값설정(오늘로)
  document.addEventListener("DOMContentLoaded", function () {
    const today = new Date();
    const year = today.getFullYear();
    let month = today.getMonth() + 1;
    if (month < 10) {
      month = "0" + month;
    }
    let day = today.getDate();
    if (day < 10) {
      day = "0" + day;
    }
    const todayString = `${year}-${month}-${day}`;
    document.getElementById("selectedDate").value = todayString;
  });

  document.getElementById("submitDate").addEventListener("click", function () {
    const selectedDate = document.getElementById("selectedDate").value;
    localStorage.setItem("selectedDate", selectedDate); // 선택된 날짜를 로컬 스토리지에 저장
    showModal(); // 모달 표시 함수 호출
  });
  //예약날짜 저장스크립트
  document.getElementById("submitDate").addEventListener("click", function () {
    const selectedDate = document.getElementById("selectedDate").value;
    const date = encodeURIComponent(selectedDate)
    window.location.href = `/reserve/insert?date=${date}&trainerId=${trainerId}`;
  });



  //예약날짜 지정후 저장 모달버튼
  function moveInsert() {
    location.href = '/reserve/insert';
  }



</script>
</body>
</html>