<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
    <style>
        .reply-box.answer {
            margin-left: 40px;
        }

        .reply-box .inner {
            min-width: 500px;
            max-width: 100vw;
            padding: 20px;
            border: 1px solid black;
        }

        .reply-box .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1>게시글 조회</h1>

    <form action="/trainermain/delete" method="post">
        <input type="hidden" name="userId" th:value="${trainer.no}">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="age" th:value="${trainer.age}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="phone" th:value="${trainer.phone}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" id="content" cols="40" rows="5" th:text="${trainer.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td>파일</td>
                <td>
                    <ul>
                        <!-- 파일 목록 -->
                        <th:block th:each="file : ${fileList}">
                            <li>
                                <!--썸네일 이미지-->
                                <img th:src="|/file/img/${file.no}|" alt="썸네일" width="200" />
                                <!-- 파일명(다운로드) -->
                                <a th:href="|/file/${file.no}|" th:text="${file.originName}"></a>
                                <!-- 파일 삭제 -->
                                <button type="button" th:onclick="|deleteFile(this,${file.no})|">삭제</button>
                            </li>
                        </th:block>
                    </ul>
                </td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="moveList()">목록</button>
            <button type="button" onclick="moveUpdate()">수정</button>
        </div>
    </form>
    <!-- 댓글 입력 -->
    <div id="reply-input">
        <h3>댓글</h3>
        <div class="reply-input">
            <input type="text" name="writer" id="reply-writer" class="reply-writer" placeholder="작성자">
            <br>
            <textarea name="content" id="reply-content" cols="60" rows="5" placeholder="댓글을 작성해주세요"></textarea>
            <div class="btn-box">
                <button type="button" id="btn-reply-insert" class="btn-reply" onclick="insertReply()">등록</button>
            </div>
        </div>
    </div>
    <!-- 댓글 목록-->
    <div id="reply-list">

    </div>

    <script>

        // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
        let no = "[[${trainer.no}]]"   //글번호

        //댓글 목록 요청
        replyList()
        //이벤트 등록
        event()

        // 수정 화면 이동
        function moveUpdate() {
            location.href = '/trainermain/update?no=' + no
        }

        // 목록 화면 이동
        function moveList() {
            location.href = '/trainermain/list'
        }

        // 파일 삭제
        function deleteFile(element, no) {
            // alert(no)

            // AJAX 비동기 요청
            let request = new XMLHttpRequest()

            // 요청 세팅
            // request.open(요청메소드, URL)
            request.open('DELETE', '/file/' + no)
            request.send()

            request.onreadystatechange = function () {

                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    console.log('파일 삭제 성공!');
                    // 파일 항목 제거
                    element.parentNode.remove()
                }
            }
        }
        // 댓글 목록
        function replyList() {
            // AJAX 비동기 요청
            let request = new XMLHttpRequest()

            // 요청 세팅
            // request.open(요청메소드, URL)
            request.open('GET', '/reply/' + no)  //글번호
            request.send()

            request.onreadystatechange = function () {

                let replyList = document.getElementById
                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    // 댓글 목록 확인
                    let response = request.responseText

                    // 🧇 서버에서 렌더링한 HTML로 갱신(SSR)
                    let data = response  //(html)
                    //     // 🧇 json 데이터를 전달받아 html 로 변환(CSR)
                    //         let replyListData = JSON.parse(response)    // JSON -> array 제이슨을 자바에서 쓸 수 있게 변경
                    //          console.log(response);

                    //         let data = ``
                    //         for (let i = 0; i < replyListData.length; i++) {
                    //             data +=`<div class="reply-box">`
                    //             data += `<div class="inner">`
                    //             let writer = replyListData[i].writer    //작성자
                    //             let content = replyListData[i].content  //댓글내용
                    //             let date = replyListData[i].regDate

                    //             data += `<div class="top">`
                    //             data += `<span class="reply-writer">${writer}</span>`
                    //             data += `<span class="reply-date">${date}</span>`   
                    //             data += `<div class="item">`
                    //                 data += `<button class="btn-reply-update">수정</button>`
                    //                 data += `<button class="btn-reply-delete">삭제</button>`
                    //             data += `</div>`
                    //             data += `</div>`

                    //             data += `<p class="reply-content">${content}</p>`
                    //             data += `<button class="btn-reply-answer">답글</button>`
                    //             data += `</div>`
                    //             data += `</div>`
                    //         }

                    let replyList = document.getElementById('reply-list')
                    replyList.innerHTML = data

                    event()
                }
            }
        }
        //댓글 등록
        function insertReply() {
            let $writer = document.getElementById('reply-writer')
            let $content = document.getElementById('reply-content')
            let writer = $writer.value
            let content = $content.value

            let data = {
                'boardNo': no,
                'writer': writer,
                'content': content,
            }
            //console.dir(data)
            let request = new XMLHttpRequest()

            request.open('POST', '/reply')
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify(data))

            request.onreadystatechange = function () {

                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 201) {
                    console.log('댓글 등록 성공!');
                    // alert(request.responseText)  //응답 메세지 확인
                    let response = request.responseText
                    if (response == 'SUCCESS') {
                        replyList()  //댓글 목록 갱신
                        //댓글 입력 창 비우기
                        $writer.value = ''
                        $content.value = ''
                    }
                }
            }
        }

        function event() {
            //댓글 수정 클릭
            let $btnUpdate = document.getElementsByClassName('btn-reply-update')
            //댓글 수정 클릭 이벤트
            for (let i = 0; i < $btnUpdate.length; i++) {
                $btnUpdate[i].addEventListener('click', function () {
                    //alert('수정 클릭')

                    //부모요소 -> 부모요소
                    //자식요소(reply-writer)  : childNodes[?], children
                    let $top = $btnUpdate[i].parentNode.parentNode
                    let writer = $top.childNodes[1].textContent
                    let $inner = $top.parentNode
                    let content = $inner.childNodes[3].textContent
                    let $replyBox = $inner.parentNode

                    let no = $btnUpdate[i].getAttribute('data')

                    //댓글 수정모드
                    // 1. 기존 댓글 내용창 숨기기
                    $inner.style.display = 'none'
                    //2. 수정 UI 출력
                    let $editor = document.createElement('div')
                    $editor.classList.add('inner')
                    $editor.id = 'editor'
                    let editor = ``
                    //editor += `<div class="inner" id="editor">`
                    editor += `<input type="text" value="${writer}" id="update-writer"/>`
                    editor += `<br>`
                    editor += `<textarea cols="60" rows="5" id="update-content">${content}</textarea>`
                    editor += `<br>`
                    editor += `<button onclick="updateReply(${no})">수정</button>`
                    editor += `<button onclick="cancelReply()">취소</button>`
                    //editor += `</div>`
                    $editor.innerHTML = editor
                    $replyBox.appendChild($editor)

                    // $replyBox.innerHTML = $replyBox.innerHTML + editor

                })
            }
        }

        //댓글 수정 요청
        function updateReply(no) {
            let writer = document.getElementById('update-writer').value
            let content = document.getElementById('update-content').value

            console.log(`수정한 작성자 : ${writer}`);
            console.log(`수정한 내용 : ${content}`);

            let data = {
                'no': no,
                'writer': writer,
                'content': content,
            }
            console.dir(data)


            //수정요청
            let request = new XMLHttpRequest()
            request.open('PUT', '/reply')
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify(data))

            request.onreadystatechange = function () {

                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    console.log('댓글 수정 성공!');
                    // alert(request.responseText)  //응답 메세지 확인
                    let response = request.responseText
                    alert(response)
                    if (response == 'SUCCESS') {
                        replyList()  //댓글 목록 갱신
                    }
                }
            }

        }
        //댓글 수정 취소
        function cancelReply() {
            alert('댓글 수정 취소')
            let $editor = document.getElementById('editor')
            $editor.remove()  //요소 삭제

            let $inner = document.getElementsByClassName('inner')
            for (let i = 0; i < $inner.length; i++) {
                $inner[i].style.display = 'block'
            }
        }

        //댓글 삭제 요청
        function deleteReply(no) {

            const check = confirm("정말로 삭제하시겠습니까?")
            if (!check)
                return

            //삭제요청
            let request = new XMLHttpRequest()
            request.open('DELETE', '/reply/' + no)
            //request.open('DELETE', `/reply/${no}/`)  //템플릿 문자열
            request.send()

            request.onreadystatechange = function () {

                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    console.log('댓글 삭제 성공!');
                    // alert(request.responseText)  //응답 메세지 확인
                    let response = request.responseText
                    // alert(response)
                    if (response == 'SUCCESS') {
                        replyList()  //댓글 목록 갱신
                    }
                }
            }

        }
        //답글 등록
        function insertAnswer(element, no) {
            let $replyBox = element.parentNode.parentNode
            console.log(`부모 번호 : ${no}`);
            console.log($replyBox);

            //답글 작성 UI 
            let $editor = document.createElement('div')
            $editor.classList.add('reply-box')
            $editor.id = 'answer'
            //<div id="answer" class="reply-box">
            let editor = ``
            editor += `<div class="inner">`
            editor += `<input type="text" id="answer-writer">`
            editor += `<br>`
            editor += `<textarea cols="60" rows="5" id="answer-content"></textarea>`
            editor += `<br>`
            editor += `<button onclick="answer(${no})">등록</button>`
            editor += `<button onclick="cancelAnswer()">취소</button>`
            editor += `</div>`
            $editor.innerHTML = editor

            //기존 답글 UI 가 있으면 초기화
            let $answer = document.getElementById("answer");
            if ($answer) {
                $answer.parentNode.removeChild($answer);
            }
            //요소.after(새 요소)
            //- 요소 바로 뒤에 추가요소를 추가합니다.
            $replyBox.after($editor)
        }

        //답글 등록 요청
        function answer(parentNo) {
            //TODO :
            // 1. answer-writer, ansewer-content 값을 가져오고
            let $writer = document.getElementById('answer-writer')
            let $content = document.getElementById('answer-content')

            let writer = $writer.value
            let content = $content.value

            // 2. data = {부모번호, 작성자, 내용}
            let data = {
                'boardNo': no,
                'parentNo': parentNo,
                'writer': writer,
                'content': content
            }

            let request = new XMLHttpRequest()

            // 3. POST = -/ reply 요청
            request.open('POST', '/reply')
            request.setRequestHeader('Content-Type', 'application/json')
            request.send(JSON.stringify(data))

            request.onreadystatechange = function () {
                // console.log(' 여기닷 ')
                if (request.readyState == request.DONE && request.status == 201) {
                    let response = request.responseText
                    if (response == 'SUCCESS') {
                        replyList()  //댓글 목록 갱신
                    }
                }
            }
            //답글 등록 취소
            function cancelAnswer() {
                let $answer = document.getElementById("answer");
                if ($answer) {
                    $answer.parentNode.removeChild($answer);
                }


            }
        }
    </script>
</body>

</html>